
#collection-pane-holder {
	font-family: 'Open Sans', Helvetica;
	padding-top: 10px;
	margin-top: 6px;
	font-size: 0.9em;
}

#collection-pane-holder select, 
#collection-pane-holder input{ 
  font-family: 'Open Sans', Helvetica;
  font-weight: 400;
}

#collectionconfig {
	border: 2px solid #963;
	margin-top: -10px;
	padding-bottom: 6px;
}

#collection_table{
}

#collection_table th {
	width: 100px;
	color: #321;
	text-align: right;
}

#collection_table td {
	text-align: left;
}

#dataset_table td input, 
#collection_table td input {
	min-width: 500px;
	font-size: 1.1em;
	font-weight: normal;
	color: #884;
}
