.seshat-detail {
	font-size: 0.85em;
}
.seshat-error {
	color: #ff8888;
}


.scraper-screen {
	display: none;
}

div#scraper-info {
	padding: 10px 20px 10px 20px;
	font-size: 1.1em;
}

div.tool-content {
	background-color: #f3f1d7;
	border: 1px solid #666;
	margin: 10px 20px;
}

div#polity-display {
	padding: 10px;
}

div.tool-buttons {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.tool-header {
	border-bottom: 1px #888 solid;
	margin-bottom: 10px;
	text-align: left;
	padding: 10px;
	background-color: #ccc;
}

.tool-header span.tool-title {
	font-size: 20px; 
	font-weight: bold;
	padding-right: 20px; 
}

.tool-header span.tool-description {
	float: right;
}

.polity-intro {
	font-size: 1.2em;
	margin-bottom: 12px;
}

.polity-intro span {
	float: right;
	font-weight: bold;
	margin-right; 12px;
}


table.seshat-list {
	width: 100%;
	text-align: left;
}

table.seshat-list td {
	padding: 6px;
}

table.seshat-list th {
	padding: 12px;
	background-color: #f4f4ef;
	border-bottom: 1px solid #888;
	text-align: left;
} 

div.ngaList {
}

#main{
	text-align: center;
	margin-bottom: 1em;
}

.clear{
	clear: both;
}

div.ngas{
	font-size: 10pt;
}

th{
	background: #fcefa1;
}

.nga-list th {
	text-align: center;
}

tr:nth-child(even){
	background: #ddd;
}

.forward-button {
	float: right;	
	margin-right: 20px;
}

.back-button {
	float: left;
	margin-left: 20px;
}

#scraper-info {
	padding-top: 10px;
	
}
#modal-dim{
	width:100%;
	height:100%;
	background:rgba(127,127,127,0.5);
	position:absolute;
	left:0;
	top:0;
	z-index: 1000;
}

#modal{
	width:25em;
	height:7em;
	margin:10em auto;
	background:#fff;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	border:1px solid #000;
	border-radius:1em;
	padding:1em;
	z-index: 1001;
}

#modal div{
	width: 14em;
	margin: 0 auto;
}

#modal button{
	width: 5em;
	margin: 0;
}

#contents{
	text-align: center;
}

h3 span{
	float: right;
	display: block;
	font-weight: lighter;
}

h3 span input{
	margin-left: 0.5em;
}