.seshat-detail {
	font-size: 0.85em;
}

.seshat-error {
	color: #ff8888;
}


.scraper-screen {
	display: none;
	text-align: center;
}

div#scraper-info {
	padding: 10px 20px 10px 20px;
	font-size: 1.1em;
}

div.tool-content {
	background-color: #f3f1d7;
	border: 1px solid #666;
	margin: 10px 10px;
}

div#polity-display {
	padding: 10px;
}

div.tool-buttons {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.tool-header {
	border-bottom: 1px #888 solid;
	margin-bottom: 10px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	text-align: left;
	padding: 10px;
	background-color: #ccc;
}

.tool-header span.tool-title {
	font-size: 20px; 
	font-weight: bold;
	padding-right: 20px; 
}

.tool-header span.tool-description {
	float: right;
}

.polity-intro {
	font-size: 1.2em;
	margin-bottom: 12px;
}

.polity-intro span {
	float: right;
	font-weight: bold;
	margin-right; 12px;
}


table.seshat-list {
	width: 100%;
	text-align: left;
}

table.seshat-list td {
	padding: 6px;
}

table.seshat-list th {
	padding: 12px;
	background-color: #f4f4ef;
	border-bottom: 1px solid #888;
	text-align: left;
} 

div.ngaList {
}

#main{
	margin-bottom: 1em;
}

.clear{
	clear: both;
}

div.ngas{
	font-size: 10pt;
}

th{
	background: #fcefa1;
}

.nga-list th {
	text-align: center;
}

tr:nth-child(even){
	background: #ddd;
}

.forward-button {
	float: right;	
	margin-right: 20px;
}

.back-button {
	float: left;
	margin-left: 20px;
}

#scraper-info {
	padding-top: 10px;
	
}

textarea#seshatvalue {
	width: 600px;
}

.sholder * {
	    vertical-align: middle;
}

div#scraper-results,
div#scraper-examples {
	text-align: left;
}

div#scraper-examples h3 {
	background-color: #eee;
	padding: 10px;
	border-top: black solid 1pt;
	border-left: black solid 1pt;
	margin-top: 26px;
}

div#scraper-results {
	border: 2px solid #888;
	margin-bottom: 10px;
}

div#scraper-results dt, 
div#scraper-examples dt {
	font-style: italic;
	font-size: "0.9em";
}

div#scraper-results dd,
div#scraper-examples dd {
	margin-bottom: 12px;
	font-size: "0.85em";
	
}

div#scraper-results dl,
div#scraper-examples dl {
	margin-left: 12px;
}

div#scraper-results dd.datapoints,
div#scraper-examples dd.datapoints {
	margin-left: 0;

}

div#scraper-results dd table,
div#scraper-examples dd table {
	margin-top: 12px;
	width: 100%;
}

div#scraper-results dd table th,
div#scraper-examples dd table th {
	padding: 6px 2px;
} 

div#scraper-results dd table td,
div#scraper-examples dd table td  {
	padding: 4px 12px;
}

.formal_variable {
	color: #f82;
	font-weight: bold;
}

.variable_value {
	color: #f82;
	font-weight: bold;
}


