
h1,h2 {
	color: #aac;
}

root { 
    display: block;
}

div.rdcpage {
    width: 800px;
    margin: 20px auto 20px auto;   
}

div.ui-widget-header {
    padding: 8px;   
    
}

div#rdc-ro {
    margin-top: 20px;
}

img#rdc-ro-empty {
    margin: 20px auto 20px auto;
    padding-left: 280px;
}

table.rdc-input-form {
    margin-top: 8px;
    border-collapse:collapse;
    width: 100%;
}

table.rdc-input-form th{
    text-align: right;
    padding: 8px 8px 2px 4px;
    font:bold "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    border-bottom:1px solid #e5eff8;
}

table.rdc-input-form td {
    color:#678197;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding: 8px 8px 8px 12px;    
}

table.rdc-input-form tr.odd td {
    background:#f7fbff
}

div.rdc-submit {
        width: 100%;
        text-align: center;
        padding: 10px 0 10px 0;   
}

textarea#payload {
    width: 500px;
    height: 80px;
    margin-bottom: 4px;
}

div#ts_set {
    display: none;
    margin: 1em;
    
}