@CHARSET "ISO-8859-1";

td.dacura-property-input label {
	font-size: 90%;
}

td.dacura-property-label {
	width: 90px;
	padding-right: 8px;
	text-align: right;
}

table.dacura-widget {
	width: 100%;
	border-collapse: collapse;
}

table.dacura-widget td {
	padding-top: 3px;
	padding-bottom: 3px;
	border: 	1px solid #eedead;
	
}

table.dacura-widget tr.alt td.dacura-property-label {
}