body {
  margin: 0;
  font-family: 'Open Sans', Helvetica;
  font-weight: 300;
}

select, input, textarea,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-family: 'Open Sans', Helvetica;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-weight: 500;
}

select {
}


pre {
	text-align: left;
}

img { border: 0;}

p {}

html, body {
  height: 100%;
}

strong  {
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
}

.dch {
	display: none;	
}

.dacura-templates {
	display:none
}

.center {
  max-width: 1110px;
  margin: 0 auto;
}

#content-container {
  width: 100%;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -692px;
}

#content-container:after {
  content: "";
  display: block;
}

#dacura-header {
  height: 36px;
  z-index: 100000;
  width: 100%;
  background: rgb(28, 16, 19); /* The Fallback */
  background: rgba(28, 16, 19, 0.85);
  color: white;
  font-size: 16px;
  position: fixed;
}

#dacura-header div.dacura-logo {	
  z-index: 100000;
  display: inline-block;
  border-color: 2px solid blue;
  height: 30px;
  padding-left: 4px; 
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}

#dacura-header div.topbar-user-actions {
  z-index: 100000;
  float: right;
  margin-right: 8px; 
  padding-top: 2px;
}

div.topbar-context {
	display: inline-block;
	margin-bottom: -3px;
  }

/*
Menu bar at the top of pages
*/
#utopbar-context {
	margin-left: 0px;
	padding: 0px;
}

#utopbar-context li.first {
	margin-left: 0px;
}

.topbar-user-context a,
#utopbar-context li a {
	color: white;
	text-decoration: none;
}

.topbar-user-context a:hover,
#utopbar-context li a:hover {
  	background: rgba(58, 66, 119, 0.5);
	cursor: pointer;
}

#utopbar-context li {
	float: left; 
	padding-left: 0px;
	margin-right: 10px;
	background-repeat: no-repeat;
    background-position: 0% 90%;
}

#utopbar-context img {
	margin-bottom: -2px;
}

div.topbar-user-context {
	float: right;
	color: #aaa;
	margin-right: 6px;
}

.topbar-user-context .username {
	padding-right: 12px;
	padding-left: 12px;
}

.topbar-user-context .username img {
	margin-top: 8px;
}

.topbar-user-context .username label {
	padding-left: 4px;
	display: inline-block;
	font-size: 0.85em;
	margin-top: -4px;
	vertical-align: top;
	padding-top: 12px;
} 

.topbar-user-context .usersettings {
	float: right;
	height: 36px;
	padding-left: 12px;
	border-left: 1px solid #333;
	margin-left: 0px;
}

.topbar-user-context .usersettings label {
	padding-right: 6px;
	display: inline-block;
	font-size: 0.85em;
	margin-top: -4px;
	vertical-align: top;
	padding-top: 12px;
	cursor: pointer;
}

.topbar-user-context .usersettings img {
	padding-top: 10px;
}

.topbar-user-context .useractivity {
	font-size: 0.8em;
	color: #888;
}

.topbar-user-context .useroptions {
	background-color: white;
	margin-top: 12px;
}



/*
Major different classes of page layout - 
*/

#maincontrol {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 25px;
}

#fullscreen-container {
	padding-top: 50px;
	width: 1020px;
	background-color: #FBFAF9;
	margin: 0 auto;
}

#fullscreen-tool {
	width: 1020px;
	background-color: #FBFAF9;
	margin: 0 auto;	
}


/*
mini-widget style control panel
*/
.dacura-widget {
	text-align: center;
	border: 1px solid #ddd;
	background: rgba(235, 245, 255, .4);
	border-radius: 4px;	
	padding: 1px;
}

.dacura-widget-title {
	background: rgba(12, 18, 32, .4);
	padding: 10px;
	border-radius: 4px 4px 0px 0px;
	font-weight: bold;
	border-bottom: 1px solid #aaa;			
}

.dacura-widget-fullmessage {
	border-radius: 6px;
	margin: 20px 10px;
	padding: 10px;
	color:#f4f4f4;
}


.dacura-widget-body {
	padding: 12px;	
}

.dacura-widget-buttons {
	padding-bottom: 10px;
}


/*
Styling icons into a dashboard type effect in browsing
*/
#dashboard-container {
	padding-top: 90px;
	width: 1020px;
	margin: 0 auto;
}

#dashboard {
	background-color: #FBFAF9;
	border-collapse: collapse;
	border: 0;
}

#dashboard-tasks h4{
        text-align: left;
        padding: 0;
        margin: 0;
}

#dashboard-header {
	height: 12px;
	background-color: #272727;	
}

#dashboard-menu {
	width: 170px;
	height: 400px;
	background-color: #272727;
	vertical-align: top;
}

#dashboard-menu-logo {
	width: 162px;
	margin: -2px auto 0 auto;
	padding: 0px 3px 0 3px;
	text-align: center;
}

#dashboard-menu-logo img {
	width: 100%;
}

#dashboard-menu-logo .collection-title
{
	color: #999;
	padding: 4px;
	font-size: 0.8em;
}

#dashboard-menu-blurb{
	font-size: 0.8em;
	padding: 4px;
}

#dashboard-menu-blurb table {
	background-color: #ccc;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #888;
}

#dashboard-menu-blurb td, 
#dashboard-menu-blurb th {
	text-align: right;
	font-weight: normal;
}


.control-panel-title {
	font-weight: bold;
}

#dashboard-menu-title {
	width: 164px;
	padding: 4px;
	color: #bbb;
	text-align: center;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	background-color: #2f2f2f;	
	font-size: 0.9em;
}


ul.dashboard-menu {
	list-style-type: none;
	padding: 0px;
	color: #eee;
	font-size: 0.8em;
}

ul.dashboard-menu li {
	width: 154px;
	background-color: #272727;
	border-bottom: 1px solid #333;
	text-align: left;
	padding: 4px 8px;
}

ul.dashboard-menu li:hover {
	background-color: #444;	
	color: #ddd;
}
ul.dashboard-menu li a {
	color: #bbb;
	text-decoration: none;
}

ul.dashboard-menu li.dashboard-menu-selected {
	background-color: #1f1f1f;
	color: #ddd;
	font-weight: bold;
	font-size: 1.1em;
}


ul.dashboard-menu li.dashboard-menu-selected a {
	color: #ddd;	
}

#dashboard-content {
	margin-left: 170px;
	margin-top: 0;
	padding-left: 10px;
	padding-top: 10px;
	width: 840px;
	background-color: #FBFAF9;
}

div.dacura-dashboard-task-button {
	  float: left;
	  width: 220px;
	  height: 138px;
	  background: url("task-button-plain.png") no-repeat center center;
	  background-size:200px 130px;
}

div.dacura-dashboard-panel {
	text-align: center;
}


div.dacura-dashboard-button {
	text-align: center;
	float: left;
	  width: 138px;
	  height: 138px;
	  margin-bottom: 20px;
	  background: url("task-button-plain.png") no-repeat center top;
  	  background-size:138px 138px;
}

div.dacura-dashboard-button-wide {
	  text-align: center;
	  float: left;
	  width: 180px;
	  height: 138px;
	  margin-bottom: 20px;
	  background: url("task-button-plain.png") no-repeat center top;
  	  background-size:180px 138px;
}

div.dacura-dashboard-task-button:hover,
div.dacura-dashboard-button-wide:hover,
div.dacura-dashboard-button:hover{
	background-color: #e1f4f5;
}

/*
Action Icons that appear on control type pages
*/

img.dacura-task-button-img{
	width: 172px;
	margin: 0 0 10px 0;
}

img.dacura-button-img{
	height: 70px;
	margin: 22px auto 8px auto;
}

div.dacura-button-title{
	font-family: Helvetica, sans;
	font-size: 14px;
	color: #5c4033;
	font-weight: bold;
}

/*
Standard Page Layout
*/
#pagecontent {
	margin: 50px auto 25px auto;
	padding-top: 50px;
	width: 1000px;
	background: rgba(255, 255, 255, .9);
	border-radius: 3px;
	padding: 10px;
}

#pagecontent-nopad {
	margin: 50px auto 25px auto;
	width: 1000px;
	background: rgba(255, 255, 255, .95);
	border-radius: 3px;
	padding: 0px;
}

#pagecontent h1 {
	margin-top: 0px;
	color: #211;
}

#pagecontent p {
	text-align: left;
}

#pagecontent-container {
	padding-top: 70px;
	width: 100%;
}

/*
These guys are deprecated - needs to be worked out of the existing services
config, core, scraper, users
*/

.pctitle {
	width: 100%;
	background: #321;
	color: white;
	padding: 8px 8px;
	margin: -8px -8px 12px -8px;
	font-weight: bold;
	border-radius: 3px 3px 0px 0px;
}

.pcsection {
	clear: both;
	margin-top: 10px;
}

.pcsectionhead {
	width: 100%;
	background: #963;
	color: #fff;
	padding: 4px 0;
	margin-bottom: 10px;
}

.pcdatatables {
	padding: 6px 0 16px 0;
}

.dcdt {
	width: 100%;
}

.pcbuttons {
	padding: 12px 6px;
	margin-top: 10px;
	margin-bottom: 0px;
	border-top: 1px #ddd groove;
	text-align: right;
}

table.dc-wizard {
	border-top: 1px solid #888;
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	background-color: #f8f8f8;
}

table.dc-wizard thead th {
	height: 10px;
}

table.dc-wizard th {
	padding: 6px 4px 10px 4px;
	font-size: 0.85em;
	width: 150px;
	vertical-align: top;
	text-align: right;
	padding-right: 6px;
}
	
table.dc-wizard td {
	padding: 2px 4px 18px 6px;
	text-align: left;
}

table.dc-wizard td.input-help {
	padding-top: 0px;
	text-align: left;
	font-size: 0.8em;
	padding-bottom: 10px;
}

/*
used in config and users 
*/
span.bcstatus{
	height: 20px;
	float: left;
} 

/*
Highlighing table rows on hover
*/

tr.userhover {
	border: 1px solid white;
}

.userhover th, 
.userhover td {
	background: rgba(210, 230, 255, 0.9) !important;
	cursor: pointer;
	color: #210;
	border: 0;
}

/*
Modal message box - generaal form
*/
.modal-message .ui-dialog-titlebar-close {
	display: none;
}

.modal-message .ui-dialog-titlebar {display:none}

/*
Breadcrumbs to show context within services
*/
div.pcbreadcrumbs {
	font-size: 0.8em;
}

ul.service-breadcrumbs {margin-left: -27px; margin-top: -1px}
.service-breadcrumbs { display: block;}  
.service-breadcrumbs li {  display: inline; }  
.service-breadcrumbs li.first { margin-left: -10px; padding-left: 0px;}  
.service-breadcrumbs li a,  
.service-breadcrumbs li a:link,  
.service-breadcrumbs li a:visited {  
    color: #666;  
    display: block;  
    float: left;  
    font-size: 12px;  
    margin-left: -13px;  
    padding: 5px 17px 7px 20px;  
    position: relative;  
    text-decoration: none;  
}  
.service-breadcrumbs li a {  
    background-image: url('bg-crumbs.png');  
    background-repeat: no-repeat;  
    background-position: 100% 0;  
    position: relative;  
}  
.service-breadcrumbs li a:hover {  
    color: #333;  
    background-position: 100% -48px;  
    cursor: pointer;  
}  
.service-breadcrumbs li a:active {  
    color: #333;  
    background-position: 100% -96px;  
}  
.service-breadcrumbs li.first a span {  
    height: 29px;  
    width: 3px;  
    border-left: 1px solid #d9d9d9;  
    position: absolute;  
    top: 0px;  
    left: 0px;  
} 

/*
General classes for dacura messages
Firt comes the ones to do with layout of the box itself
*/

.tab-top-message-holder {
	margin-bottom: 8px;
}
.tool-tab-info .dacura-user-message-box {
	margin: 8px 20px 12px 20px;
}
.fullpage-message-container {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 25px;
}

.fullpage-message {
	background-color: white;
	border-radius: 4px;
}

.tool-info .dacura-user-message-box {
	padding-left: 0px;
	padding-right: 0px;
	clear: both;
	margin-right: 50px;
	margin-left: 50px;	
	margin-top: 20px;
	margin-bottom: 20px;
}




/*
Message box itself
*/

.user-message-close {
	float: right;
	cursor: pointer;
	margin: 0px 4px 0px 4px;
}

.dacura-user-message-box {
	border-radius: 4px;
	font-size: 0.9em;
	margin-bottom: 10px;
}
.dacura-user-message-box .mtitle {
	padding: 10px 10px 10px 10px;
	font-size: 1.1em;
}
.dacura-user-message-box .mbody {
	background: rgba(255, 255, 255, .3);
	padding: 10px 10px 10px 10px;
}

.dacura-widget .dacura-user-message-box .mtitle {
	padding: 10px 10px 10px 10px;
	font-size: 1.1em;
	font-weight: bold;
}

.dacura-widget .dacura-user-message-box .mbody {
	background: rgba(255, 255, 255, .1);
	padding: 10px 10px 10px 10px;
}

.dacura-user-message-box.dacura-error {
	border: 1px solid #f88;	
}
.dacura-user-message-box.dacura-warning {
	border: 1px solid #FF8C00;
}
.dacura-user-message-box.dacura-info {
	border: 1px solid #88a;
}
.dacura-user-message-box.dacura-success{
	border: 1px solid #4a4;
}

.dacura-user-message-box.dacura-help{
	background: #fafaf4;
	padding: 8px;
	border-radius: 0px;
	weight: 400px;
		
}


.dacura-error .mtitle {
	background: rgba(255, 200, 200, .2);
}
.dacura-success .mtitle {
	background: rgba(155, 255, 155, .1);
}
.dacura-warning .mtitle {
	background: rgba(255,140,0, .1);
}
.dacura-info .mtitle {
	background: rgba(235, 235, 255, .1);
}

.dacura-error .mtitle {
	color: #211;
}
.dacura-warning .mtitle {
	color: #210;
}
.dacura-info .mtitle {
	color: #112;
}
.dacura-success .mtitle {
	color: #121;
}

.toggle_extra_message {
	color: blue;
	float: right;
	margin: 0 10px 0 10px;
	margin-top: -26px;
	cursor: pointer;
	font-size: 0.9em;
}

div.message_extra {
	margin: 6px;
	padding: 8px;
	background-color: white;
	border: 1px solid #888;
	white-space: pre;
 	unicode-bidi: embed;
 	font-size: 0.85em;
 	overflow: auto;
}

.progress-container {
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;	
}

.progress-container.medium {
	width: 400px;
	height: 14px;
	margin: 0px auto 10px auto;
}

.progress-container.small {
	width: 250px;
	height: 14px;
	margin: 0px auto 6px auto;
}

.busy-medium-width {}
.indeterminate-busy {}
.dacura-busy-message {
	width: 100%;
	text-align: center;
	color: #111;
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 30px;
}

.dcaura-widget .dacura-busy-message {
	margin-top: 0px;
}

#maincontrol h1#welcome {
  	margin: 0;
  	padding: 0;
  	height: 148px;
  	text-indent: -9999px;
  	background: url("dacura-logo.png") center 0 no-repeat;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #welcome h1 {
    background-image: url("dacura-logo@2x.png");
    background-size: 400px 146px;
  }
}

/*
Style of button
*/

.button2 {
	border-radius: 5px;
 	display: inline-block;
 	padding: 10px 25px;
 	border: 2px solid black;
 	background: rgba(155, 155, 155, .4);
 	color: black;
 	font-size: 18px;
 	font-weight: bold;
 	text-decoration: none;
  	-webkit-transition: all 1s;
  	-moz-transition: all 1s;
  	transition: all 1s;
  	margin-left: 1em;
  	margin-right: 1em;

}

.disabled {
	border: 2px solid #ccc;
	color: #ccc;
	background: rgba(1,1,1,0);
	cursor: default;
}

.button2:hover {
  	background: rgba(255, 255, 255, .9);
  	cursor: pointer;
}

.disabled:hover {
	border: 2px solid #ccc;
	color: #ccc;
	background: rgba(1,1,1,0);
}

.button {
 	border-radius: 5px;
 	display: inline-block;
 	padding: 10px 35px;
 	border: 2px solid white;
 	background: rgba(255, 255, 255, .1);
 	color: white;
 	font-size: 18px;
 	text-decoration: none;
  	-webkit-transition: all 1s;
  	-moz-transition: all 1s;
  	transition: all 1s;
  	margin-left: 1em;
  	margin-right: 1em;
}

.button:hover {
  	background: rgba(255, 255, 255, .4);
	cursor: pointer;
  	
}

/*
Footer
*/

#content-container:after {
  /* .push must be the same height as footer */
  	height: 440px;
  	position: relative;
}

footer a {
	color: #dedeff;
	text-decoration: none;
}
footer a:hover {
	color: #aeaeff;
}



#footer-bar-container {
  	padding-top: 616px;
}

#footer-bar {
  	height: 24px;
  	background: rgb(28, 16, 19); /* The Fallback */
  	background: rgba(28, 16, 19, 0.7);
  	color: white;
  	padding-top: 8px;
  	padding-left: 8px;
  	position: relative;
  	z-index: 100;
  	font-size: 12px;
}

#footer-main {
  	height: 30px;
  	padding: 15px 10px 0;
  	background: white;
}

#footer-copyright  {
  	float: left;
  	font-size: 14px;
  	color: #999;
}

#footer-links {
  	float:right;
  	font-weight: 600;
  	font-size: 14px;
}

#footer-links ul {
  	width: 320px;
  	padding: 0;
}

#footer-links ul li {
  	float: right;
}

#footer-links ul li a {
  	padding: 0 10px;
  	text-decoration: none;
  	color: #999;
}

#footer-links ul li a:hover {
  	color: #666;
}

#footer-links ul li.google a, #footer-links ul li.apple a {
  	margin-top: 20px;
  	text-indent: -9999px;
  	padding: 0;
}

#footer-links ul li.google a {
  	width: 133px;
  	height: 44px;
    background: url("google.png") 0 0 no-repeat;
  	display: block;
  	margin-right: 10px;
}

#footer-links ul li.apple a  {
  	width: 149px;
  	height: 44px;
  	background: url("apple.png") 0 0 no-repeat;
  	display: block;
}

@media (max-width: 790px) {
  .tagline  {
    font-size: 21px;
  }

  #footer-links ul {
    margin: 0 auto;
    text-align: center;
  }

  #footer-links ul li {
    display: inline-block;
    float: none;
  }

  #footer-links ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #footer-links ul li.google a {
    margin-right: 0;
  }

  #footer-copyright  {
    float: none;
    clear: both;
    padding-top: 15px;
    font-size: 12px;
  }

  #footer-links {
    float: none;
    clear: both;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  #content h1 {
    background-size: 87%;
  }
}

@media (max-width: 575px) {
  #footer-bar-container {
    padding-top: 353px;
  }

  #content-container {
    margin-bottom: -580px;
  }

  footer, #content-container:after {
    height: 580px;
  }
}
@media (max-width: 425px) {
  #footer-bar-container {
    padding-top: 262px;
  }

  #content-container {
    margin-bottom: -490px;
  }

  footer, #content-container:after {
    height: 490px;
  }
}

@media (max-width: 321px) {
  #content h1 {
    height: 100px;
  }

  #footer-bar {
    font-size: 15px;
  }

  #footer-bar-container {
    padding-top: 180px;
    font-size: 13px;
  }

  #content-container {
    margin-bottom: -408px;
  }

  footer, #content-container:after {
    height: 408px;
  }
}


/*
Formatting for a tool style page of a service 
*/
.tool-header {
	border-bottom: 1px #888 solid;
	margin-bottom: 0px;
	text-align: left;
	padding: 10px;
	background-color: #ccc;
}

div.tool-close {
	float:right;
    margin-right: -24px;
    margin-top: -24px;
    font-weight: bold;
    padding: 3px 3px;       
}

div.tool-close a {
    font-size: 12px;
	padding: 0px;
    border-radius: 20px;
    border: 1px solid #aaa;
}

.tool-header .dacura-status {
	float: right !important;
	height: 18px;
}

.tool-header span.tool-title {
	font-size: 20px; 
	font-weight: bold;
	padding-right: 20px; 
}

.tool-header span.tool-title a {
	color: #444488;
	text-decoration: none;
}

.tool-header span.tool-title a:hover {
	color:  #2222aa;
}

.tool-header span.tool-title a::after {
	content: " /";
}	

.tool-header span.tool-description {
	float: right;
}

.tool-body {
	font-size: 0.9em;
	padding-bottom: 6px;
}
.tool-contents {
	min-height: 100px;
}

.tool-header-image {
	height: 24px;
	float: left;
	margin-right: 8px;
}

span.dacura-help {
	display: none;
}

#tab-holder {
	background-color: #fff;
	margin-top: 0px !important;	
	border-top: 0px !important;
	border-top-left-radius:0em !important;
	border-top-right-radius:0em !important;	
}

.tool-section-header {
	border-bottom: 1px #888 solid;
	border-top: 1px #888 solid;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	text-align: left;
	padding: 10px;
	background-color: #ccc;
}

.tool-section-header span.section-title {
	font-size: 16px; 
	font-weight: bold;
	padding-right: 20px; 
}

div.tool-buttons {
	text-align: right;
	padding: 10px;
}

table.dacura-api-listing {
	width: 100% !important;
}

select.dacura-select {
}

div#user-role-add {
	width: 100%;
	height: 60px;	
}

table.facet-maker-table,
table.update-list-table,
table.create-role-table {
	border: 1px solid #aaa;
	float: right;
	border-radius: 3px;
	background-color: #f4f8fc;
}

table.facet-maker-table td,
table.update-list-table td,
table.create-role-table td {
	padding-right: 4px;	
}

div.facet-table-container {
	margin-top: 10px;
}

div.dacura-update-table-container {
	height: 50px;
	margin-top: -14px;
}

div.update-table-intro {
	font-size: 0.8em; 
	padding-left: 10px;
}

table.update-list-table td.option,
table.create-role-table td.option{
	font-size: 0.9em;
	padding: 6px 6px 2px 6px;
}

table.dacura-api-listing,
.subscreen-intro-message,
.dacura-subscreen {
	display: none;
}

.dacura-subscreen-inactive {
	display: none;	
}

.dacura-screen{
	font-family: 'Open Sans', Helvetica;
	font-weight: 300;
	display:none;
}

div.subscreen-buttons {
	text-align: right;
	margin-top: 1.5em;
}

div.subscreen-buttons button {
	margin-left: 1em;
}

img.result-icon {
	margin-right: 6px;
	height: 16px;
	vertical-align: -2px;
}

span.select-image {
	width: 32px;
	height: 32px;
	display: inline-block;
	float: right;
	margin-top: -34px;
	margin-left: 12px;
	background: url("camera.png") no-repeat center top;
  	background-size:32px 32px;
}

img.form-display-image {
	max-width: 300px;
	max-height: 300px;
	border: 1px solid white;
}

span.dacura-display-value {
	background-color: #fdfdfd;
	border: 1px solid #ccc;
	font-size: 1em;
	padding: 8px 10px;
	display: inline-block;
}

img.helpicon {
	height: 20px;
}

table.dacura-property-table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;	
}

table.dacura-property-table.property-table-top {
	margin: 2px auto 2px auto;
	background-color: #f8f8f8;
	font-size: 0.9em;
	overflow: hidden;
}


table.dacura-property-table.property-table-odd  {
	border: 1px solid #c8c8c8;
}

table.dacura-property-table.property-table-even {
	border: 0;
}


table.dacura-property-table .dacura-display-json {
	border: 1px solid #ccc;	
}

table.dacura-property-table td.dacura-embedded-property {
	background-color: #efefef;
	padding: 0px 6px 8px 6px;
}


table.dacura-property-table td.dacura-embedded-property table {
	width: 100%;
}

table.dacura-property-table td.dacura-embedded-property table.dacura-property-table {
	border: 1px solid white;
	border-radius: 4px;	
}

table.dacura-property-table tr.last-row > td {
	padding-bottom: 20px;
}

table.dacura-property-table tr.first-row > td {
	padding-top: 20px;
}


table.dacura-property-table th.dacura-property-label,
table.dacura-property-table th.dacura-property-meta {
	border-top: 1px solid #ddd;
	padding: 20px 4px;	
	background-color: #efefef;
	border-bottom: white;
}

table.dacura-property-table.property-table-top > thead > tr > th.dacura-property-label {
	border-top: 0;
	font-size: 1.1em;
	color:#444;
}


table.dacura-property-table th.dacura-property-label .dacura-property-help {
	font-size: 0.8em;
	font-weight: 300;
}

table.dacura-property-table tr.dacura-section-spacer{
	border-bottom: 1px solid #ddd;	
}

td.dacura-property-meta .ui-selectmenu-button,	 
th.dacura-property-meta .ui-selectmenu-menu,	 
th.dacura-property-meta .ui-selectmenu-button,	 
td.dacura-property-meta .ui-selectmenu-menu {
	font-size: 0.8em;
}

th.dacura-property-meta .ui-selectmenu-button {
	border: 1px solid #faf9f9;
	
}	 
td.dacura-property-meta .ui-selectmenu-button {
	border: 1px solid #efefef;
}	 



table.dacura-property-table tr.dacura-property-spacer{
	border-bottom: 1px solid white;
}

table.dacura-property-table tr.dacura-property-section {
}



table.dacura-property-table td.dacura-property-value {
	padding: 12px 12px 12px 6px;
	max-width: 800px;
	overflow: auto;
}

table.dacura-property-table td.dacura-property-label {
	padding: 12px 4px 12px 10px;
	text-align: right;
	min-width: 100px;
	font-weight: 550;
	color: #131;
}

table.dacura-property-table td.dacura-property-help {
	font-size: 0.85em;
	padding-left: 10px;
	text-align: left;
}

table.dacura-property-table td.dacura-property-meta {
	padding: 4px;
	text-align: right;
}

table.dacura-property-table input[type="password"],
table.dacura-property-table input[type="text"] {
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: 'Open Sans', Helvetica;
  font-weight: 400;
  border-radius: 2px;
}
table.dacura-property-table input[type="password"]:focus,
table.dacura-property-table input[type="password"].focus,
table.dacura-property-table input[type="text"]:focus,
table.dacura-property-table input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.dacura-tiny-input {
	width: 80px;
}

.dacura-short-input {
	width: 150px;
}
.dacura-regular-input {
	width: 350px;
}

textarea.dacura-regular-input {
	width: 600px;
	height: 120px;
}
.dacura-long-input {
	width: 600px;
}

.dacura-display-json {
	white-space: pre;
 	unicode-bidi: embed;
 	font-size: 0.85em;
 	background-color: white;
 	overflow: auto;
 	padding: 4px;
}

textarea.dacura-display-json {
	border: 1px solid #a96;
	border-radius: 3px;
}

.dacura-url-input {}

.ui-selectmenu-menu {
	font-size: 0.8em;
}

#logtable{
	font-size: 0.8em;
}

button.table-refresh {
	float: right;
}

button.table-refresh .ui-button-text {
	font-size: 12px !important; 
	color: #888;
}

span.dacura-role {
	margin-right: 4px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.dacura-role.dacurauser {
	  background: url("dacurauser.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.public {
	  background: url("analyst.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.zombie {
	  background: url("zombie.png") no-repeat center top;
  	  background-size:24px 24px;
}
.dacura-role.nobody {
	  background: url("slave.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.user {
	  background: url("user.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.architect {
	  background: url("architect.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.expert {
	  background: url("expert.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.analyst {
	  background: url("analyst.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.admin {
	  background: url("admin.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.god {
	  background: url("god.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-role.harvester {
	  background: url("harvester.png") no-repeat center top;
  	  background-size:24px 24px;
}

.dacura-platform-role, .dacura-collection-role  {
	margin-right: 4px;
}

table.collection-role-table,
table.dacura-session-events {
	width: 100%;
}

table.collection-role-table tr,
table.dacura-session-events tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

table.collection-role-table tr:nth-child(even),
table.dacura-session-events tr:nth-child(even) {
  background: #e8eeef;
}
table.collection-role-table thead th,
table.dacura-session-events thead th {
  font-weight: 600;
  background: #8a97a0;
  color: #FFF;
}

table.collection-role-table th, table.collection-role-table td,
table.dacura-session-events th, table.dacura-session-events td {
  text-align: left;
  padding: 6px;
  font-weight: 300;
  max-width: 300px;
  overflow: hidden;
}

div.dacura-facet-button {
	background-color: white;
	vertical-align: top;
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #888;
	margin: 4px;
	padding: 6px 4px;	
	position: relative;
	min-width: 220px;
}

div.dacura-facet-button .facet-text {
	display: block;
}

span.dacura-facet-action{
	display: block;
	float: right;
}


div.dacura-facet-button .dacura-role-label {
	font-size: 1.1em;
	font-weight: 500;
	margin-top: -20px;
	position: absolute;
	left: 32px;
	top: 28px;
}

div.dacura-role-button {
	display: inline-block;
	border: 1px solid #888;
	margin: 4px;
	padding: 2px 4px;	
}

div.dacura-role-button.inactive {
	color: #888;
	background-color: #ccc;
}

div.dacura-role-button.active {
	background-color: white;
	height: 28px;
	vertical-align: top;
	border-radius: 2px;
}

div.dacura-role-button.active .dacura-role-label {
	font-size: 1.1em;
	font-weight: 500;
	padding-bottom: 6px;
}

div.subscreen-revertbar span.icon {
	
}

div.subscreen-revertbar {
	padding: 6px 20px 6px 20px;
	cursor: pointer;
	width: 170px;
	border: 1px solid #bebef4;
	margin-bottom: 4px;
	background-color: #eeeef1;
}

div.subscreen-revertbar:hover {
	background: url("close.png") no-repeat left center;
	background-size:16px 16px;
	background: rgba(210, 230, 255, 0.9) !important;
}

div.subscreen-title {
	background-color: #6f6f71;
	color: #efe9ea;
	padding: 4px 4px 0px 4px;
	border-radius: 3px 3px 0 0;
	margin: 0;
}

div.subscreen-title span.service-description {
	display: block;
	float: right;
	width: 400px;
	font-size: 0.9em;
}

div.subscreen-title span.service-icon img {
	height: 48px;
}

div.subscreen-title span.service-title {
	width: 520px;
	vertical-align: 16px;
	padding-left: 10px;
	padding-top: 12px;
	font-size: 1.4em;
	font-weight: 500;
}

span.dacura-status{
	width: 24px;
	height: 24px;
  	display: inline-block;
  	font-size: 0;
}

span.dacura-status.accept {
	background: url("accept.png") no-repeat center top;
  	background-size:18px 18px;
}

span.dacura-status.pending {
	background: url("pending.png") no-repeat center top;
  	background-size:18px 18px;
}

span.dacura-status.reject {
	background: url("reject.png") no-repeat center top;
  	background-size:18px 18px;
}

.dacura-api-listing span.dacura-status {
	padding-bottom: 12px;
	margin: 0px 0px 0px 0px;
}

.dacura-role-remove, 
.dacura-role-add {
	height: 20px;
	width: 22px;
	margin-bottom: 12px;
	margin-left: 8px;
	margin-right: 2px;
}

table.entity-headers  {
	margin-top: -8px;
	margin-right: -12px;
	margin-bottom: -2px;
}

table.entity-headers th {
	font-size: 0.75em;
	padding-left: 2px;
	font-weight: normal;
}

table.entity-headers td {
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-right: 20px;
	padding-left: 10px;
	border-left: #888 solid 1px;
	font-weight: bold;
	color: #111;
}

#kcfinder_div {
    width: 940px;
    height: 400px;
    background: #e0dfde;
    border: 2px solid #3687e2;
    border-radius: 6px;
    padding: 1px;
}
