/*general*/
h1{
	margin-top:0;
}.top{
	position:absolute;
	top:0;
	left:0;
}.row-fluid{
	margin-top:2em;
}

/*header*/
#head{
	min-height:300px;
	border-bottom:5px solid #68a;
}img#head{
	width:100%;
}

/*title*/
.title{
	background-color:rgba(255,255,255,0.8);
	padding:0 1em;
	border-radius:0.5em;
}.title small{
	color:#666;
}#attribution{
	background-color:#68a;
	position:absolute;
	bottom:0;
	right:0;
	padding:0.1em 0.5em 0.2em 0.5em;
	border-top-left-radius:1em;
	color:#fff;
}#header{
	position:relative;
}

/*breadcrumb*/
.breadcrumb{
	margin:0.2em 0.2em 0;
	padding:0;
	background:none;
}.breadcrumb li .divider{
	color:#666;
}.breadcrumb .active{
	color:#666;
}.breadcrumb a{
	color:#68a;
}.breadcrumb a:hover{
	color:#a84;
}

/*logo*/
.logo img{
	width:108px;
	height:100%;
}

/*Main content*/
.content{
	margin-bottom:5em;
}.content a{
	color:#68a;
}.content a:hover{
	color:#a84;
}

/*Sidebar*/
.sidebar img{
	margin-bottom:2em;
	width:170px;
	clear:both;
	display:block;
}.sidebar .row-fluid{
	margin-top:0;
}

/*Newsbox*/
#newsbox{
	display:block;
	height:22em;
	border-radius:10px;
	background-color:#cde;
	border:3px solid #68a;
	min-width:15em;
}#newsbox h3{
	margin:0;
	padding:3% 5%;
	line-height:30px;
	background-color:#68a;
}#newsbox p{
	padding:5%;
}

/*footer*/
.footer{
	color:#fff;
	background-color:#68a;
	padding-top:0.1em;
	position:fixed;
	bottom:0;
}.footer p{
	margin:0.2em 0;
	line-height:1em;
}.footer a{
	color:#ccc;
}

/*link icon*/
.link-icon{
	min-width:140px;
}.link-icon a{
	margin:0 auto;
	width:140px;
	height:140px;
	background-position:0px 0px;
	display:block;
}.link-icon a:hover{
	background-position:0px -140px;
}.link-icon .img-rounded:hover{
	margin-bottom:10px;
	-moz-filter: blur(30px);
}

/*individual button icons*/
#img-link-info{
	background-image:url("../images/data.png");
}#img-link-usa{
	background-image:url("../images/usa.png");
}#img-link-uki{
	background-image:url("../images/uki.png");
}#img-link-browse{
	background-image:url("../images/browse.png");
}