@CHARSET "ISO-8859-1";

@import url("tool.css");


body {
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/a/a7/Eug%C3%A8ne_Delacroix_-_La_libert%C3%A9_guidant_le_peuple.jpg');
}

div.dacura-session-status {
	color: #000;
	float: right;
	max-width: 300px;
	padding-left: 6px;
}


table#usersbox-chunks td,
th.chunk-col-header {
	min-width: 40px;
	text-align: center;
}

table#userbox-chunks td,
th.chunk-col-header {
	min-width: 65px;
}

table#userbox-chunks td a{
	text-decoration: none;
	color: #af4838;
	font-size: 13px;
}

th.chunk-col-header {
	background-color: white;
	color: #af4838;
	border: 0;
	padding: 0 4px;	
}

tr.chunk th {
	text-align: center;
}

tr.chunk th a {
	text-decoration:none;
	color: #af4838;
}

div#dc-logopane {
	width: 100%;
	background-color: #ffffff;
	height: 36px;
	border-bottom: 2px solid #9a90ef;
	position: fixed;
    top: 0;
    left: 0;
    padding: 0px 0;
   	text-align: center;
}

div#dc-logopane img {
	height: 30px;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 4px;
}

div#dc-logopane img.left {
	float: left;
}

div#dc-logopane img.right {
	float: right;
}

div.logopane-text {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
   	font-weight: bold;
   	font-size: 16px;
   	text-align: center;
   	padding-top: 10px;
   	color: #48386f;
   	
}

div#work-topbar {
	width: 100%;
	background-color: #dddfef;
	height: 50px;
	border-bottom: 2px solid #9a90ef;
	position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 99997;
}

div#dc-work-page {
	height: 100%;
	padding: 0;
	margin: 0;
}

div#work-candidate-banner {
	background-color: black;
	height: 22px;
	color: white;
	width: 100%;
	position: fixed;
	top: 52px;	
	z-index: 99997 !important;
	
}


div#work-show {
	margin-top: 24px;
	margin-left: -6px;
	width: 100%;
	text-align: center;
	padding: 0px;
}



div#work-controls {
	float: right;
	width: 450px;
	padding-right: 10px;
	border-left: 4px solid #9a90ef;
	border-radius: 8px 0 0 8px;
	background-color: white;
	padding: 6px 6px 4px 0;
}

div.work-control-question {
	float: left;
	width: 220px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 13px;
	color: #af4838;
	font-weight: bold;
	padding: 0px 6px 0px 8px;
	line-height: 150%;
}


#dc-control-busy {
	position: absolute;
	width: 394px;
	background-color: rgba(223, 223, 255, 0.85);
	min-height: 100px;
	margin-top: -20px;
	margin-left: 0;
	padding-top: 20px;
	z-index:1000000 !important; /* The default is 100. !important overrides the default. */
	display: none;
}

.dc-busy-message {
	max-width: 280px;	
	margin: 10px auto;
	background-color: white;
	border: 1px solid #afafff;
	border-radius: 4px;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding: 4px 4px 2px 4px;
	font-size: 14px;
}

#dc-session-busy-message {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding: 4px 4px 2px 4px;	
}


#dc-session-busy {
	height: 50px;
	width: 200px;
	background-color: rgba(223, 223, 255, 0.85);
	margin-left: -6px;
	padding-top: 2px;
	z-index:1000000 !important; /* The default is 100. !important overrides the default. */
}

#dc-session-busy img{
	float: left;
	margin-left: 6px;
	margin-top: 8px;
	margin-right: 4px;
}

div#work-session {
	float: left;
	height: 50px;
	border: 0;
	padding-left: 6px;
	padding-right: 6px;
	background-color: white;
	border-right: 4px solid #9a90ef;
	border-radius: 0 8px 8px 0;
	margin-right: 10px;
}


div.work-session-pane {
	float: left;
	min-height: 42px;
}

table.dc-session-summmary {
	font-size: 11px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	border-collapse: collapse;
	margin: 2px auto 0 auto;
}

div#work-slider {
float: right;
padding-top: 20px;
padding-right: 6px;
margin-right: 6px;
}

#candidate-slider {
	width: 150px;
}

table.dc-session-summmary td {
	padding: 1px 4px;
}

td.dc-candidates-seen {
	background-color: #ddddff;
}

td.dc-candidates-reject {
	background-color: #ffdddd;
}

td.dc-candidates-skip {
	background-color: #efefdd;
}


td.dc-candidates-accept {
	background-color: #ddffdd;
}

#work-session-controls {
	padding: 0px 0px 2px 0px;
	text-align: center;
}

div.dc-candidates-time {
	font-size: 13px;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #af4838;

}



#work-session-controls .ui-button 
{
 line-height: 1.0;
 font-size: 14px;
 padding-top: 2px;
 padding-bottom: 2px;
 border-radius: 0;
 
}

div#work-session-controls {
	margin-right: 8px;
}

div#work-session-candidate,
div#work-session-chunk,
div#work-session-user {
	padding: 8px 4px 0px 4px;
}


div#work-session-candidateid,
div#work-session-chunkname,
div#work-session-username {
	text-align: center;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: bold;
	margin-bottom: 4px;
	color: #48386f;
}

div#work-session-username,
div#work-session-candidateid {
	font-size: 12px;
	margin-top: 4px;
}

div#work-session-chunkname {
	font-size: 16px;
}


div.work-session-chunknameintro {
	font-size: 10px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	width: 100%;
	text-align: center;
	color: #888;
	margin-top: -2px;
	margin-bottom: 2px;
}

div#work-message {
	float: left;
	height: 50px;
}

div#work-message-contents {
	background-color: white;
	border: 1px solid yellow;
	margin-top: 12px;
	font-family: Courier;
	font-size: 11px;
	padding: 2px 4px;
	min-width: 200px;
	text-align: center;
	border-radius: 3px;
}

div.work-message-error {
	color: #aa2222;
}

div.work-message-success {
	color: #22aa22;
}

div.work-message-warning {
	color: #aaaa22;
}

div.work-message-info {
	color: #222;
}



.dc-loading {
	position: absolute;
	display: none;
	text-align: center;
	z-index:1000000 !important; /* The default is 100. !important overrides the default. */
	
}

#dc-adduser-busy {
	background-color: rgba(254,238, 189, 0.9);
	height: 86%;
	width: 300px;
	margin-top: 10px;
}

#dc-login-busy {
	background-color: rgba(254,238, 189, 0.9);
	height: 76%;
	width: 310px;
	margin-top: 10px;
}


#dc-allocate-busy {
	background-color: rgba(254,238, 189, 0.9);
	height: 80%;
	width: 260px;
	margin-top: 10px;
}

#dc-user-busy {
	background-color: rgba(254,238, 189, 0.9);
	height: 70%;
	width: 460px;
}

div#work-fetching,
div#work-pause,
div#dc-content {
	width: 400px;
	min-height: 200px;
	margin: 200px auto 0px auto;
	border: 2px solid #afafff;
	background-color: #dfdfff;
	text-align: center;
	border-radius: 6px;
	padding: 0px 0px 8px 0px;
}

div#work-pause {
	background-color: #b1b3bc;
}


div#work-fetching h2,
div#work-pause h2,
div#dc-content h2{
	border-radius: 6px 6px 0px 0px;
	border-bottom: 2px solid #afafff;
	background-color: #fefeff;
	margin-top: 0px;
	padding: 12px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #0f0f2f;
}

input.dc-control {
	margin: 4px;
}


#work-session-state {
	
}

#work-chunk-state {
}

table.dacura-session-status {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-bottom: 10px;
	border-collapse: collapse;
}

table.dacura-session-status th {
	background-color: white;
	color: #af4838;
	font-size: 75%;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding: 0 3px;
	width: 62px;
}

table.dacura-session-status td {
	border: 1px solid white;
	text-align: center;	
	font-size: 12px;
}

.dacura-session-status-header {
	margin-top: 4px;
	margin-bottom: 2px;
	font-size: 12px;
	text-align: center;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}


table#current-session,
table#current-chunk {
	float: left;
	font-size: 75%;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	border-collapse: collapse;
	margin-right: 20px;
}

table#current-chunk th{
	padding: 0 4px;
}

table#current-chunk td{
	text-align: center;	
}


div#dc-state-box {
	z-index: 999999; 
	position: fixed;
	top: 76px;
	background-color: #ffffcc;
	border-bottom: 2px solid #9a90ef;
	border-right: 2px solid #9a90ef;
	border-radius: 0 0 8px 0;
	max-width: 300px;
	padding: 5px;
}

#current-candidate-image {
	position: relative;
	top: 0;
	left: 0;
	z-index: 6;
}

#current-candidate-preview {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

#work-show-img {
	position: relative;
}