body {
  margin: 0;
  font-family: 'Open Sans', Helvetica;
  font-weight: 300;
}

p {
}

html, body {
  height: 100%;
}

strong  {
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
}

.dch {
	display: none;	
}

.center {
  max-width: 1110px;
  margin: 0 auto;
}

#content-container {
  width: 100%;

  background: url(../images/Trinity-college-library-dub2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Trinity-college-library-dub2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Trinity-college-library-dub2.jpg', sizingMethod='scale')";
}

#dacura-header {
  height: 30px;
  z-index: 100000;
  width: 100%;
  background: rgb(28, 16, 19); /* The Fallback */
  background: rgba(28, 16, 19, 0.85);
  color: white;
  font-size: 16px;
  position: fixed;
}

#dacura-header div.logo {	
  z-index: 100000;
  float: left;
  height: 30px;
  margin-left: 8px; 
  padding-top: 4px;
}

#dacura-header div.topbar-context {
  z-index: 100000;
  float: right;
  margin-right: 8px; 
  padding-top: 2px;
}

#utopbar-context {
	margin-left: 40px;
}

#user-actions-menubar {
	float: right;
}

#user-actions-menubar {
	font-size: 12px;
	margin-top: 4px;
	margin-right: 4px;
	margin-left: 4px;
}

#user-actions-menubar li.first {
	text-align: center;
}

#user-actions-menubar li {
	min-width: 80px
}


#utopbar-context li.first {
	margin-left: 6px;
}

#utopbar-context li a {
	color: white;
	text-decoration: none;
}

#utopbar-context li a:hover {
  background: rgba(28, 16, 19, 1.0);
  font-weight: bold;	
}

#utopbar-context li {
	float: left; 
	padding-left: 24px;
	padding-top: 6px;
	margin-right: 10px;
	background-image: url("../images/abracket-small.gif");
	background-repeat: no-repeat;
    background-position: 0% 90%;
}

img { border: 0;}

#maincontrol {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 25px;
}

#fullscreen-container {
	padding-top: 50px;
	width: 1020px;
	background-color: #FBFAF9;
	margin: 0 auto;
}

#fullscreen-tool {
	width: 1020px;
	background-color: #FBFAF9;
	margin: 0 auto;	
}


.dacura-widget {
	text-align: center;
}

#dashboard-container {
	padding-top: 50px;
	width: 1020px;
	margin: 0 auto;
}


#dashboard-tasks h4{
        text-align: left;
        padding: 0;
        margin: 0;
}

.dacura-welcome {
        text-align: left;
        border-bottom: 1px solid #333;
        padding-bottom: 3px;
        margin-bottom: 10px;
}


#dashboard-menu {
	float: left;
	width: 170px;
	height: 400px;
	background-color: #272727;
	
}

ul.dashboard-menu {
	list-style-type: none;
	padding: 0;
	color: white;
}

ul.dashboard-menu li {
	width: 154px;
	height: 30px;
	background-color: #1f1f1f;
	border-bottom: 1px solid #444;
	text-align: left;
	padding: 4px 8px;
}

ul.dashboard-menu li.dashboard-menu-selected {
	background-color: blue;
}

ul.dashboard-menu li a {
	color: white;
	text-decoration: none;
}

#dashboard-content {
	margin-left: 170px;
	margin-top: 0;
	padding-left: 10px;
	padding-top: 10px;
	width: 840px;
	background-color: #FBFAF9;
}

div.dacura-dashboard-task-button 
{
	  float: left;
	  width: 220px;
	  height: 138px;
	  background: url(../images/task-button-plain.png) no-repeat center center;
	  background-size:200px 130px;
}

div.dacura-dashboard-panel {
	text-align: center;
}


div.dacura-dashboard-button 
{
	  float: left;
	  width: 138px;
	  height: 138px;
	  margin-bottom: 20px;
	  background: url(../images/task-button-plain.png) no-repeat center top;
  	  background-size:130px 130px;
}

div.dacura-dashboard-button-wide 
{
	  float: left;
	  width: 180px;
	  height: 138px;
	  margin-bottom: 20px;
	  background: url(../images/task-button-plain.png) no-repeat center top;
  	  background-size:180px 130px;
}

div.dacura-dashboard-task-button:hover,
div.dacura-dashboard-button-wide:hover,
div.dacura-dashboard-button:hover{
	background-color: #e1f4f5;
}

img.dacura-task-button-img{
	width: 172px;
	margin: 0 0 10px 0;
}

img.dacura-button-img{
	width: 86px;
	margin: 10px auto 0px auto;
}

div.dacura-button-title{
	font-family: Helvetica, sans;
	font-size: 14px;
	color: #342323;
}

#fullcontent {
	padding-top: 110px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
	border: 1px solid red;
}

#pagecontent {
	margin: 50px auto 25px auto;
	padding-top: 50px;
	width: 1000px;
	background: rgba(255, 255, 255, .9);
	border-radius: 3px;
	padding: 10px;
}

#pagecontent-nopad {
	margin: 50px auto 25px auto;
	width: 1000px;
	background: rgba(255, 255, 255, .9);
	border-radius: 3px;
	padding: 0px;
}


#pagecontent h1 {
	margin-top: 0px;
	color: #211;
}

#pagecontent p {
	text-align: left;
}

.pagecontent-success {
	border: 4px solid white;	
}

.pagecontent-failure {
	border: 4px solid red;	
}

#pagecontent-container {
	padding-top: 70px;
	width: 100%;
}

.pctitle {
	width: 100%;
	background: #321;
	color: white;
	padding: 8px 8px;
	margin: -8px -8px 12px -8px;
	font-weight: bold;
	border-radius: 3px 3px 0px 0px;
	
}

.modal-message .ui-dialog-titlebar-close {
	display: none;
}

.modal-message .ui-dialog-titlebar {display:none}

.pcsection {
	clear: both;
	margin-top: 10px;
}

.pcsectionhead {
	width: 100%;
	background: #963;
	color: #fff;
	padding: 4px 0;
	margin-bottom: 10px;
}


.pcdatatables {
	padding: 6px 0 16px 0;
}

.pcbuttons {
	padding: 12px 6px;
	margin-top: 10px;
	margin-bottom: 0px;
	border-top: 1px #ddd groove;
	text-align: right;
}

#collectionconfig {
	border: 2px solid #963;
	margin-top: -10px;
	padding-bottom: 6px;
}

#collection_table{
}

#collection_table th {
	width: 100px;
	color: #321;
	text-align: right;
}

#collection_table td {
	text-align: left;
}

#dataset_table td input, 
#collection_table td input {
	min-width: 500px;
	font-size: 1.1em;
	font-weight: normal;
	color: #884;
}

tr.userhover {
	border: 1px solid white;
}

.userhover th, 
.userhover td {
	background: rgba(185, 185, 255, 0.9) !important;
	cursor: pointer;
	color: #210;
	border: 0;
}

ul.service-breadcrumbs {margin-left: -27px; margin-top: -10px}
.service-breadcrumbs { display: block;}  
.service-breadcrumbs li {  display: inline; }  
.service-breadcrumbs li.first { margin-left: -10px; padding-left: 0px;}  
.service-breadcrumbs li a,  
.service-breadcrumbs li a:link,  
.service-breadcrumbs li a:visited {  
    color: #666;  
    display: block;  
    float: left;  
    font-size: 12px;  
    margin-left: -13px;  
    padding: 7px 17px 11px 25px;  
    position: relative;  
    text-decoration: none;  
}  
.service-breadcrumbs li a {  
    background-image: url('../images/bg-crumbs.png');  
    background-repeat: no-repeat;  
    background-position: 100% 0;  
    position: relative;  
}  
.service-breadcrumbs li a:hover {  
    color: #333;  
    background-position: 100% -48px;  
    cursor: pointer;  
}  
.service-breadcrumbs li a:active {  
    color: #333;  
    background-position: 100% -96px;  
}  
.service-breadcrumbs li.first a span {  
    height: 29px;  
    width: 3px;  
    border-left: 1px solid #d9d9d9;  
    position: absolute;  
    top: 0px;  
    left: 0px;  
} 

.pccon {
	float: right;
}

#userview {
	clear: both;
	width: 100%;
	margin-top: 8px;
}

table.scraper-report,
#userview table.dc-wizard{
	width: 100%;
}



table.scraper-report {
	border-top: 1px solid #888;
	border-collapse: collapse;
	border-bottom: 1px solid #888;
	margin-bottom: 10px;
}


table.dc-wizard {
	border-top: 1px solid #888;
	border-collapse: collapse;
}



table.scraper-report th,
table.dc-wizard th {
	padding: 10px 4px 2px 4px;
	font-size: 0.85em;
	width: 150px;
	vertical-align: top;
	text-align: right;
	padding-right: 6px;
	border-right: 1px solid #888;
}
	
table.scraper-report td {
	padding: 4px 4px 4px 6px;
	text-align: right;
	border-right: 1px solid white;
}

table.dc-wizard td {
	padding: 4px 4px 0px 6px;
	text-align: left;
}

table.dc-wizard td.input-help {
	padding-top: 0px;
	text-align: left;
	font-size: 0.8em;
	padding-bottom: 10px;
}
	


.dacura-widget {
	border: 1px solid #ddd;
	padding: 12px;	
	background: rgba(255, 255, 255, .4);
	border-radius: 4px;	
}


.dacura-error {
	background: rgba(255, 155, 155, .2);
	border: 1px solid #f88;
	padding: 2px;
	border-radius: 3px;
}

.dacura-info {
	border: 1px solid #ddd;
	margin: 2px auto;
	background: white;
	text-align: center;
	padding: 6px;
	border-radius: 3px;
}

.dacura-warning{
	border: 1px solid #ddd;
	text-align: center;
	background: rgba(155, 255, 255, .4);
	padding: 2px;
	border-radius: 3px;
}

.dacura-success{
	background: rgba(155, 255, 155, .1);
	border: 1px solid #4a4;
	border-radius: 3px;
	padding: 4px 20px;
}

.dacura-user-message-box {
	margin: 2px;
	font-size: 0.9em;	
	border-radius: 4px;
}

#aboutcontent h1{
	color: yellow;
}

#maincontrol h1#welcome {
  	margin: 0;
  	padding: 0;
  	height: 148px;
  	text-indent: -9999px;
  	background: url(../images/dacura-logo.png) center 0 no-repeat;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #welcome h1 {
    background-image: url(../images/dacura-logo@2x.png);
    background-size: 400px 146px;
  }
}

.tagline {
 	font-size: 32px;
 	color: white;
 	margin-bottom: 19px;
}

.button2 {
	border-radius: 5px;
 	display: inline-block;
 	padding: 10px 25px;
 	border: 2px solid black;
 	background: rgba(155, 155, 155, .4);
 	color: black;
 	font-size: 18px;
 	font-weight: bold;
 	text-decoration: none;
  	-webkit-transition: all 1s;
  	-moz-transition: all 1s;
  	transition: all 1s;
  	margin-left: 1em;
  	margin-right: 1em;

}

.disabled {
	border: 2px solid #ccc;
	color: #ccc;
	background: rgba(1,1,1,0);
	cursor: default;
}

.button2:hover {
  	background: rgba(255, 255, 255, .9);
  	cursor: pointer;
}

.disabled:hover {
	border: 2px solid #ccc;
	color: #ccc;
	background: rgba(1,1,1,0);
}

.button {
 	border-radius: 5px;
 	display: inline-block;
 	padding: 10px 35px;
 	border: 2px solid white;
 	background: rgba(255, 255, 255, .1);
 	color: white;
 	font-size: 18px;
 	text-decoration: none;
  	-webkit-transition: all 1s;
  	-moz-transition: all 1s;
  	transition: all 1s;
  	margin-left: 1em;
  	margin-right: 1em;
}

.button:hover {
  	background: rgba(255, 255, 255, .4);
	cursor: pointer;
  	
}

#content-container {
  	min-height: 100%;
  	/* equal to footer height */
  	margin-bottom: -692px;
}

#content-container:after {
 	content: "";
 	display: block;
}

footer, #content-container:after {
  /* .push must be the same height as footer */
  	height: 692px;
  	position: relative;
}

footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}



#footer-bar-container {
  	padding-top: 465px;
}

#footer-bar {
  	height: 33px;
  	width: 100%;
  	background: rgb(28, 16, 19); /* The Fallback */
  	background: rgba(28, 16, 19, 0.7);
  	color: white;
  	padding-top: 16px;
  	position: relative;
  	z-index: 100;
  	font-size: 16px;
}


#footer-main {
  	height: 145px;
  	padding: 25px 10px 0;
  	background: white;
}

#footer-copyright  {
  	float: left;
  	font-size: 14px;
  	color: #999;
}

#footer-links {
  	float:right;
  	font-weight: 600;
  	font-size: 14px;
}

#footer-links ul {
  	width: 320px;
  	padding: 0;
}

#footer-links ul li {
  	float: right;
}

#footer-links ul li a {
  	padding: 0 10px;
  	text-decoration: none;
  	color: #999;
}

#footer-links ul li a:hover {
  	color: #666;
}

#footer-links ul li.google a, #footer-links ul li.apple a {
  	margin-top: 20px;
  	text-indent: -9999px;
  	padding: 0;
}

#footer-links ul li.google a {
  	width: 133px;
  	height: 44px;
    background: url(../images/google.png) 0 0 no-repeat;
  	display: block;
  	margin-right: 10px;
}

#footer-links ul li.apple a  {
  	width: 149px;
  	height: 44px;
  	background: url(../images/apple.png) 0 0 no-repeat;
  	display: block;
}



@media (max-width: 790px) {
  .tagline  {
    font-size: 21px;
  }

  #footer-links ul {
    margin: 0 auto;
    text-align: center;
  }

  #footer-links ul li {
    display: inline-block;
    float: none;
  }

  #footer-links ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #footer-links ul li.google a {
    margin-right: 0;
  }

  #footer-copyright  {
    float: none;
    clear: both;
    padding-top: 15px;
    font-size: 12px;
  }

  #footer-links {
    float: none;
    clear: both;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  #content h1 {
    background-size: 87%;
  }
}

@media (max-width: 575px) {
  #footer-bar-container {
    padding-top: 353px;
  }

  #content-container {
    margin-bottom: -580px;
  }

  footer, #content-container:after {
    height: 580px;
  }
}
@media (max-width: 425px) {
  #footer-bar-container {
    padding-top: 262px;
  }

  #content-container {
    margin-bottom: -490px;
  }

  footer, #content-container:after {
    height: 490px;
  }
}

@media (max-width: 321px) {
  #content h1 {
    height: 100px;
  }

  #footer-bar {
    font-size: 15px;
  }

  #footer-bar-container {
    padding-top: 180px;
    font-size: 13px;
  }

  #content-container {
    margin-bottom: -408px;
  }

  footer, #content-container:after {
    height: 408px;
  }
}

.tab-top-message-holder {
	margin-bottom: 8px;
	text-align: center;
}

#busy-overlay {
	background: rgba(255, 255, 255, .8);
}

.indeterminate-busy {
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 8px;
}

.dacura-busy-message {
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgba(255, 255, 255, .9);	
	font-weight: bold;
	text-align: center;
}

span.bcstatus{
	height: 20px;
	float: left;
} 
.tabbusy {
	border: 2px solid blue;	
}

.dacura-busy-small {
	height: 50px;
	width: 100%;
	z-index: 9999999999;
}


.tool-header {
	border-bottom: 1px #888 solid;
	margin-bottom: 10px;
	text-align: left;
	padding: 10px;
	background-color: #ccc;
}

.tool-body {
	padding-bottom: 6px;
}

.tool-info {

}

#toggle_extra_message {
	color: blue;
	display: inline;
	margin-left: 10px;
	cursor: pointer;
	font-size: 0.9em;
}

div.message-extra {
	margin: 10px;
	padding: 4px;
	background-color: white;
	border: 1px solid #888;
}

.tool-info .dacura-user-message-box {
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
	margin-right: 50px;
	margin-left: 50px;	
	text-align: center;
}

.tool-header span.tool-title {
	font-size: 20px; 
	font-weight: bold;
	padding-right: 20px; 
}

.tool-header span.tool-title a {
	color: #444488;
	text-decoration: none;
}

.tool-header span.tool-title a:hover {
	color:  #2222aa;
}

.tool-header span.tool-title a::after {
	content: " /";
}	

.tool-header span.tool-description {
	float: right;
}

.tool-section-header {
	border-bottom: 1px #888 solid;
	border-top: 1px #888 solid;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	text-align: left;
	padding: 10px;
	background-color: #ccc;
}

.tool-section-header span.section-title {
	font-size: 16px; 
	font-weight: bold;
	padding-right: 20px; 
}



#linked data properties from candidate table html view

table.ld-properties td {
	padding-left: 8px;
	
}
table.ld-properties {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

table.ld-properties tr.embedded-object td.container {
	padding: 0 14px 14px 14px;
}

td.prop-pd {
	padding: 2px 0;
}

td.pid-embedded {
	padding-top: 4px;
}

.dacura-property {
	font-weight: bold;
}

table.ld-properties a {
	text-decoration: none;
}

.dacura-property-value {
	text-decoration: italic;
}

.dacura-literal {
	color: #393;
}

.not-a-url {
	 font-weight: bold;
	 color: #e66;
}

.unknown-namespace {
	 font-weight: bold;
	 color: #a88;
}

div.annotation-record,
div.provenance-record {
	background-color: #666;
	color: white;
	padding: 4px 8px;
	font-weight: bold;
}

div.even_depth, 
div.odd_depth {
	border: 1px solid #aaa;
}

.pidembedded {
	margin-bottom: 2px;
	margin-top: 3px;	
	padding: 3px 0px 2px 6px;
	width: 100%;
}

.container table {
	margin-top:-4px;
}

div.odd_depth {
	background-color: #eeeeee;
}

div.even_depth {
	background-color: white;
	
}


td.even_depth, 
td.odd_depth {
 	padding-right: 22px;
}

td.prop-pd {
	padding-left: 6px;	
}

tr.firstp td.odd_depth {
	border-top: 1px solid #aaa;
}


table.even_depth {
	background-color: #eeeeee;
}