@import url("tool.css");


div#dc-remote-session{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    padding: 4px;
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
}

div#dc-remote-session {
   font-size: 13px;
   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
   letter-spacing: normal;
   line-height: normal;
	text-align: left;
}


table.dacura-remote-session-status {
	border-collapse: collapse; 
}

table.dacura-remote-session-status th,
table.dacura-remote-session-status td {
	font-size: 11px;
	padding: 2px;
	margin: 0;
	line-height: 13px;
}
