@CHARSET "ISO-8859-1";

#dacura-console {
	position:  fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	min-height: 36px;
	width: 100%;
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	display: none;
	border-bottom: 2px solid  #F0E68C;
}

#dacura-console.uninitialised {
	background: rgba(28, 16, 19, 0.9);
}

#dacura-console.model {
	background: rgb(9, 16, 109);
}

#dacura-console.data {
	background: rgb(28, 16, 19);
}


/*
#dacura-console.browser {
	background: rgb(107, 8, 89);	
}

#dacura-console.harvester {
	background: rgb(56, 16, 19);
}
*/

#dacura-console img.console-icon {
	height: 24px;
}

#dacura-console .select2-search input {
   font-size: 11px !important;
}

.s2option {
   font-size: 12px !important;	
   font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

#dacura-console .dacura-console-topbar {
	color: #eeeeee;
	font-size: 15px;
	height: 36px;
	vertical-align: middle;
	width: 1024px;
	margin: 0 auto;
}

#dacura-console .dacura-console-topbar div {
	display: inline-block;
}

#dacura-console .dacura-console-topbar div.menu-area {
	margin: 0;
}

#dacura-console div.console-browser-buttons{
	vertical-align: 4;
	max-width: 44px;
	color: rgba(245, 234, 210, 0.9);		
}

#dacura-console div.console-browser-buttons span.browser-button {
	padding: 9px 2px 6px 2px;
}

#dacura-console .dacura-console-topbar div.console-branding {
	padding: 5px 1px 6px 1px;
	width: 32px;
}

#dacura-console .console-collection {
	height: 33px;
	vertical-align: top;
	padding-top: 3px;
}

#dacura-console .console-collection .context-select-holder select{
	width: 198px;
}

#dacura-console .console-collection .context-select-holder {
	font-size: 0.8em;
	vertical-align: -1;
}

#dacura-console .console-collection .context-collection-picked {
	display: inline-block;
	height: 29px;
	padding-top: 4px;
}

#dacura-console img.collection-icon {
	width: 19px;
	height: 19px;
	vertical-align: middle;
}

#dacura-console .console-collection .context-collection-picked .collection-title-icon {
	padding: 8px 2px 8px 2px;
}

#dacura-console .console-collection .context-collection-picked .collection-title-text {
	max-width: 200px;
	padding: 0 2px;
	overflow: hidden;
	vertical-align: -2;
}

#dacura-console .console-user div.console-user-icon:hover,
#dacura-console .console-mode span.mode-icons .amode-icon:hover,
#dacura-console div.console-browser-buttons span.browser-button:hover,
#dacura-console .console-collection .context-collection-picked .collection-title-icon:hover, 
#dacura-console div.console-user-close:hover, 
#dacura-console .dacura-console-topbar div.console-branding:hover,
#dacura-console .console-collection .context-collection-picked .collection-title-changer:hover {
	background: rgba(185, 56, 24, 0.9);
	cursor: pointer;	
} 

#dacura-console .console-collection .context-collection-picked .collection-title-changer {
    padding: 2px 4px;
    width: 10px;
    display: inline-block;
    vertical-align: -7;   
}

#dacura-console .console-mode span.mode-icons {
}

#dacura-console .console-mode span.mode-icons span.amode-icon {
	vertical-align: -2;
	display: inline-block;
	padding: 7px 2px 4px 2px;	
}

#dacura-console .console-context .context-select-holder {
	font-size: 0.8em;
	vertical-align: 8;
}

#dacura-console .fa-ban {
  color: rgba(185, 56, 24, 0.9);
}

#dacura-console .console-context .context-add-property,
#dacura-console .console-context .context-add-element {
	display: inline-block;
	vertical-align: 5;
	color: rgba(46, 215, 24, 0.9);	
}

#dacura-console .console-context .context-add-property:hover,
#dacura-console .console-context .context-add-element:hover {
	cursor: pointer;
}

#dacura-console .console-context .context-empty {
	display: inline-block;
	vertical-align: 7;
}

#dacura-console .console-context .context-add-element {
	padding: 2px 1px;
}

#dacura-console .console-context .context-element {
	display: inline-block;
}

#dacura-console .console-context .entityclass .context-select-holder select, 
#dacura-console .console-context .entityproperty .context-select-holder select, 
#dacura-console .console-context .candidate .context-select-holder select, 
#dacura-console .console-context .candidateproperty .context-select-holder select, 
#dacura-console .console-context .ontology .context-select-holder select{
	width: 180px;
}

#dacura-console .console-context .modelproperty .context-select-holder select, 
#dacura-console .console-context .modelclass .context-select-holder select {
	width: 140px;
}

#dacura-console .console-context {
	margin-left: 6px;
}

#dacura-console div.console-busybox {
	vertical-align: 5;
}

#dacura-console div.console-resultbox {
	vertical-align: 5;
	padding: 8px 1px 6px 1px;
}

#dacura-console div.console-resultbox .fa-info-circle {
  	color: rgba(156, 185, 234, 0.9);	
}

#dacura-console div.console-resultbox .fa-warning {
  	color: rgba(245, 234, 106, 0.9);	
}

#dacura-console div.console-resultbox .fa-check-circle {
  	color: rgba(56, 185, 24, 0.9);	
}
#dacura-console div.console-resultbox .fa-exclamation-circle {
	color: rgba(225, 26, 24, 0.9);	
}
	
#dacura-console .console-menubar-rhs {
	float: right;
}

#dacura-console .console-user {
	background: rgba(248, 236, 229, 0.7);
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	display: inline-block;
}

#dacura-console .console-user-roles {
	padding-left: 4px;
	padding-right: 2px;
}

#dacura-console .console-user div.console-user-icon {
	display: inline-block;
	vertical-align: -4;
	border-bottom: 1px solid #eee;
}

#dacura-console img.console-user-icon {
	height: 34px;
}

#dacura-console div.console-user-close {
	color: rgba(245, 234, 210, 0.9);		
	padding: 11px 6px 9px 6px;
	vertical-align: 8;
}

#dacura-console .console-extra .console-context-summary {
	background-color: #eee;
	border-top: 2px solid  #F0E68C;
	font-size: 14px;
	display: none;
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar {
	/*width: 1024px;*/
	padding: 0 4px;
	margin: 0 auto;
	height: 24px;
	vertical-align: middle;
	color: #226;
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .accept {
  	color: rgba(26, 135, 24, 0.9);	
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .reject {
	color: rgba(125, 56, 24, 0.9);	
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .pending { 
	color: rgba(156, 185, 234, 0.9);	
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .warning {
	color: rgba(245, 234, 106, 0.9);	
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .error {
	color: rgba(225, 26, 24, 0.9);	
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .candidate {
	color: rgb(28, 16, 19);
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .modelclass {
	color: rgb(28, 16, 109);
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .modelproperty {
	color: rgb(28, 109, 34);
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-icons .modelproperty {
	color: rgb(28, 109, 34);
}

#dacura-console .console-extra .console-context-summary .summary-icons {
	display: inline-block;
	margin-right: 4px;
	vertical-align: -2;
}

#dacura-console .console-extra .console-context-summary .summary-icons .summary-icon {
	padding: 3px 1px 3px 1px;
}

#dacura-console .console-extra .console-context-summary .summary-icons .summary-action {
	padding: 2px 2px 3px 4px;
}

#dacura-console .console-extra .console-context-summary .summary-dacura-link {
	vertical-align: -4;
}

#dacura-console .console-extra .console-context-summary .summary-dacura-link .summary-action {
	padding: 4px 2px 1px 2px;
}

#dacura-console .console-extra .console-context-summary .summary-actions {
	float: right;
	margin-left: 6px;
}

#dacura-console .console-extra .console-context-summary .summary-actions .summary-action {
	padding: 6px 3px 4px 3px;
	vertical-align: -2;
	display: inline-block;
}

#dacura-console .console-extra .console-context-summary .summary-action:hover {
	background: rgba(150, 190, 254, 0.9);
	cursor: pointer;	
}
	
#dacura-console .console-extra .console-context-summary .summary-identifier {
	display: inline-block;
	vertical-align: -2;
}

#dacura-console .console-extra .console-context-summary .summary-dacura-link {
	display: inline-block;
}

#dacura-console .console-extra .console-context-summary .summary-create {
	display: inline-block;
}

#dacura-console .console-extra .console-context-summary .summary-create input.entity-id {
	width: 120px;
}

#dacura-console .console-extra .console-context-summary .summary-create input.entity-label {
	width: 180px;
}

#dacura-console .console-extra .console-context-summary .summary-create input.entity-comment {
	width: 300px;
}


#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-create div.input-group {
	display: inline-block;
	margin-left: 6px;
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-create div.create-buttons {
	display: inline-block;
	margin-left: 10px;
}

#dacura-console .console-extra .console-context-summary .console-extra-topbar .summary-create div.create-buttons .create-button:hover {
	background: rgba(150, 190, 254, 0.9);
	cursor: pointer;	
}


#dacura-console .console-extra .console-context-full {
	border-top: 2px solid  #F0E68C;
	font-size: 14px;
	display: none;
	max-height: 340px;
	overflow-y: auto;
	overflow-x: auto;
	background-color: #eef8ee;
}

#dacura-console .console-extra .console-context-full .frame-viewer {
	margin: 6px;
	border-radius: 4px;
	padding: 4px;
}

#dacura-console .console-extra .console-context-full .frame-viewer .pframe-holder {
	border: 1px solid white;
}

#dacura-console .console-extra .console-context-full .frame-viewer .pframe-holder div {
	display: inline-block;
	margin-right: 12px;
} 

#dacura-console .frame-viewer .remove-property {
	float: right;
	margin-right: 10px;
}

#dacura-console .frame-viewer .remove-property a {
	color: rgb(225, 26, 24);	
}

/*
#dacura-console #dacura-console-menu-message {
	display: inline-block;	
	max-height: 20px;
	padding: 0px 3px 6px 3px;
}

#dacura-console img.console-icon {
	vertical-align: middle;
	margin-bottom: 3px;
}

#dacura-console textarea,
#dacura-console input {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

#dacura-console .console-extra {
	display: none;
	width: 98%;
	clear: both;
	margin: 8px auto;
	background-color: #FFFFE0;
	border-radius: 6px;
	color: black;
	padding: 6px;
	border: 2px solid white;
.	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	position:relative;
}


#dacura-console .console-spacer {
	width: 2px;
	display: inline-block;
	min-height: 32px;
}


#dacura-console .dacura-user-message-box {
	margin-right: 20px;
	display: inline-block;
}

.dacura-user-message-box {
	border-radius: 4px;
	text-align: left;
	font-size: 0.9em;
	margin-bottom: 10px;
}

#dacura-console .empty-ontology {
	font-size: 0.7em;
	vertical-align: -5;
	color: #ccc;
	text-align: center;
	display: inline-block;
	width: 70px;
	margin-bottom: -6px;
	margin-right: 4px;
	margin-left: 4px;
}

.dacura-user-message-box .mtitle {
	padding: 10px 10px 10px 10px;
	font-size: 1.1em;
}
.dacura-user-message-box .mbody {
	background: rgba(255, 255, 255, .3);
	padding: 10px 10px 10px 10px;
}

.user-message-close {
	float: right;
	cursor: pointer;
	margin: 12px 8px 2px 4px;
	color: #ccc;
	font-family: Arial;
	font-size: 16px;
}

.dacura-user-message-box.dacura-error .mbody, 
.dacura-user-message-box.dacura-error .mtitle,
.dacura-user-message-box.dacura-error,
.dacura-user-message-box.dacura-reject .mbody, 
.dacura-user-message-box.dacura-reject .mtitle,
.dacura-user-message-box.dacura-reject {
	background-color: #ffdfdf;	
	color: #600 !important;
}

.dacura-user-message-box.dacura-accept .mbody,
.dacura-user-message-box.dacura-accept .title,
.dacura-user-message-box.dacura-accept {
	background-color: #e8ffe9;	
	color: #060 !important;
}

.dacura-user-message-box.dacura-pending .mbody,
.dacura-user-message-box.dacura-pending .mtitle,
.dacura-user-message-box.dacura-pending {
	background-color: #e9f2ff;	
	color: #440 !important;
}

.dacura-accept .mtitle,
.dacura-reject .mtitle,
.dacura-error .mtitle,
.dacura-pending .mtitle {
	font-weight: 550;
	display: inline-block;	
} 

.dacura-accept .mbody,
.dacura-reject .mbody,
.dacura-error .mbody,
.dacura-pending .mbody {
	display: inline-block;
}

img.result-icon {
	margin-right: 6px;
	height: 16px;
	vertical-align: -2px;
}

#dacura-console .console-stats,
#dacura-console .console-context {
	float: left;
}

#dacura-console .console-branding {
	float: left;
	display: inline-block;
	margin-top: 2px;
	padding: 4px;
	margin-right: 4px;
}

#dacura-console .console-button-message {
	display: inline-block;
}

#dacura-console .console-context .context-element {
	display: inline-block;
	vertical-align: center;
	padding-top: 2px;
	padding-bottom: 4px;
}

#dacura-console .console-context .context-element .ui-selectmenu-button {
	margin-right: 6px;
	margin-left: 6px;
}

#dacura-console span.viewproperty,
#dacura-console span.createproperty,
#dacura-console span.createentity {
 display: none;
 clear: both;
}

#dacura-console .console-extra input[type="text"] {
  padding: 6px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 2px;
}

#dacura-console .console-extra input[type="text"]:focus,
#dacura-console .console-extra input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#dacura-console .console-extra textarea {
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 2px;
}

#dacura-console .console-extra textarea:focus, 
#dacura-console .console-extra textarea.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#dacura-console .console-extra-buttons {
	float: right;
	margin-bottom: 8px;
}

#dacura-console .console-extra-buttons button {
	margin-left: 8px;
}

.ui-button .ui-icon.dacura-help-button-icon {
   background-image: url("test-tube.png");  
   width: 20px;
   height: 20px;
   background-repeat: no-repeat; 
   border: none;
}

#dacura-console .console-create-field {
	display: inline-block;
}

#dacura-console .console-create-field .label {
	min-width: 200px;
	text-align: right;
	padding-left: 6px;
}

#dacura-console .console-create-field .entry {
	padding-right: 10px;
	padding-left: 10px;
}


#dacura-console .ui-selectmenu-button {
	margin-top: 4px;
	margin-bottom: -6px;
	border: 1px solid #faf9f9;
	font-size: 11px;
}

#dacura-console .console-extra .ui-selectmenu-button {
	font-size: 13px;
}

.ui-selectmenu-menu {
	z-index: 1001 !important;
}


.ui-selectmenu-menu .ui-menu-item {
	font-size: 13px;
}

#dacura-console .console-user {
	padding-top: 4px;
	display: inline-block;
}

#dacura-console div.property-headline, 
#dacura-console div.class-headline {
	border-bottom: 1px solid #eee;
	width: 100%;
	padding: 8px 4px;
	margin-bottom: 10px;
	float: left;
}

#dacura-console .console-class-extra {
	border-bottom: 1px solid #eee;
	clear: both;
	margin-bottom: 10px;
	padding: 8px 4px;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;	
}
#dacura-console div.headline-box-full {
	clear: both;
	width: 100%;
}
#dacura-console div.headline-box-narrow {
	width: 450px;
	float: left;
}

#dacura-console div.headline-box {
	width: 600px;
	float: left;
}

#dacura-console .console-extra-title {
	position:absolute;
	right:0;
	margin-top: -6px;
	background-color: #eef3fd;
	padding: 6px 0 6px 12px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-radius: 0px 0px 3px 3px;
	font-size: 1.1em;
	font-weight: 250;
	color: #448;
}

#dacura-console input.xsdunits {
	width: 60px;
}

#dacura-console .console-extra-view-title {
	float: left;
	margin-top: -6px;
	margin-left: -10px;
	margin-right: 10px;
	background-color: #eef3fd;
	padding: 6px 12px 6px 0px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	border-radius: 6px 0px 6px 0px;
	font-size: 0.9em;
	font-weight: 250;
	color: #448;
}

#dacura-console div.console-class-enumerated {
	clear: both;
	padding: 10px;
	float: left;
	max-width: 500px;	
}

#dacura-console .console-class-ancestry {
	float: left;
	padding: 10px;
	max-width: 500px;	
}

#dacura-console .console-class-intro .console-class-label {
	font-size: 1.2em;
	font-weight: 700;
	margin-right: 10px;
}

#dacura-console .console-field-input {
	vertical-align: middle;
}

#dacura-console .console-field {
	display: block;
	padding: 6px;
}

#dacura-console .console-view {
	padding: 6px;
}


#dacura-console .console-field-input .console-parent-select {
	padding-right: 6px;
}

#dacura-console .console-property-range .range-input {
	margin-right: 5px;
}
#dacura-console .console-property-domain .domain-type {
	margin-right: 3px;
}
#dacura-console .remote-range-input,
#dacura-console .range-input-boxedliteral .boxed-units {
	margin-left: 6px;
}



#dacura-console .remote-range-input,
#dacura-console .range-input-boxedliteral .boxed-units,
#dacura-console .console-class-parent .remote-parent,
#dacura-console .console-property-range .range-input-literal,
#dacura-console .console-property-domain .remote-domain {
	vertical-align: 5;
}

#dacura-console .console-field-input .add-parent-class {
	padding-left: 8px;
	margin-bottom: 4px;
	cursor: pointer;
}


#dacura-console .console-view-label {
	font-weight: 600;
	padding-right: 8px;
}

#dacura-console .console-field-label {
	color: #333;
	font-weight: 300;
	text-align: right;
	padding-right: 8px;
	display: inline-block;
	width: 80px;
}

#dacura-console .console-top-label {
	color: #333;
	font-weight: 300;
	text-align: left;
	display: block;
}

#dacura-console div.property-headline .property-label input, 
#dacura-console div.class-headline .class-label input {
	width: 250px;
}
#dacura-console div.property-headline .property-comment textarea {
	min-width: 500px;
	height: 90px;	
}

#dacura-console div.class-headline .class-comment textarea {
	min-width: 500px;
	height: 70px;
}

#dacura-console .console-field-help {
	padding-left: 10px;
	vertical-align: middle;
}

#dacura-console .console-field-add {
	padding-right: 4px;
	padding-left: 40px;
}

#dacura-console div.class-headline .property-id input,
#dacura-console div.class-headline .class-id input {
	width: 180px;
}

#dacura-console .remove-parent-class {
	margin: -8px -8px -8px 0px;
	padding: 8px;
}

#dacura-console .console-field-parents {
}

#dacura-console .parent-class-tile {
	border: 1px solid #eee;
	background-color: #fefefe;
	padding: 6px;
	margin-right: 8px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#dacura-console .console-other-assertions {
	padding: 8px;
	width: 100%;
	float: left;
	margin-top: 12px;
}

#dacura-console .console-other-assertion {
	float: left;
	background-color: #fdfdee;
	padding: 10px;
	border: 1px solid #eee;
	width: 370px;
	margin: 4px;
}

#dacura-console .console-other-assertion textarea {
	width: 100%;
}

#dacura-console .console-assertion-input textarea {
	width: 100%;
}
#dacura-console table.console-enumerated-type {
	width: 90%;
	margin: 6px auto;
	font-size: 0.9em;
}

#dacura-console table.console-enumerated-type th {
	font-weight: 300;
	font-color: #333;
}

#dacura-console table.console-enumerated-type td.enumerated-type-remove {
	text-align: center;
}

#dacura-console table.console-enumerated-type td.enumerated-type-number {
	width: 30px;
	text-align: center;
}

#dacura-console table.console-enumerated-type td.enumerated-type-id {
	width: 90px;
}
#dacura-console table.console-enumerated-type td.enumerated-type-id input {
	width: 100px;
}

#dacura-console table.console-enumerated-type td.enumerated-type-label input {
	min-width: 250px;
	width: 100%;
}

#dacura-console table.console-enumerated-type td.enumerated-type-comment input {
	width: 100%;
	min-width: 400px;
}

#dacura-console .dacura-scanned-fact {
	display: inline;
	padding: 2px 6px;
	cursor: pointer;
	border: 1px solid white;
	
}
#dacura-console .dacura-selected-fact {
	border: 1px #888 dashed;
	background-color:#FFFFE0;
}

#dacura-console .page-scan-summary dl, 
#dacura-console .page-scan-summary dt, 
#dacura-console .page-scan-summary dd {
	display: inline-block;
}

#dacura-console .page-scan-summary dt {
	margin-right: 2px;
} 

#dacura-console .page-scan-summary dd {
	margin-right: 6px;
	margin-left: 2px;
}

.uhover {
	background: rgba(210, 230, 255, 0.9) !important;
	cursor: pointer;
	color: #210;	
} 

.console-controls button {
	margin-right: 10px;	
}

.console-user {
	float: right;
	margin-right: 8px;
}

.console-controls {
	height: 22px;
	padding: 6px;
	float: right;
	margin-right: 1em;
	margin-left: 12px;
	text-align: right;
}

img.factoid-icon {
	max-height: 24px;
	margin-right: 6px;
	margin-left: 6px;
}

.dch {
	display: none;
}

div.console-user-menu {
	position: absolute;
	right: 8px;
	max-width: 300px;
	font-size: 0.8em;	
}



button {
	font-size: .8em !important;
}

*/