@CHARSET "ISO-8859-1";

/*
General purpose 
*/

.full-browser-overlay {
	padding: 20px 6px;
	margin-top: -40px;
}

.dqs-validator{
	background-color: #fff;
	margin: 8px 0px;
	padding: 4px 0px;
}

.dqs-button {
	text-align: right;
}

.dqs-embed {
	border: 1px solid #888;
	padding: 4px;
	margin-bottom: 8px;
}

.dqs-category-title {
	background-color: #dedee3;
	padding: 4px;
	margin-bottom: 6px;
	margin-top: 6px;
	font-weight: bold;
}

.dqsopts {
	font-size: 0.7em;
}

.dqs-input-field {
	display: inline-block;
	margin: 3px;	
}

.dqs-all {
	margin-left: 12px;
}
.dqs-opts-title {
	font-size: 1.3em;
	display: inline-block;
	font-weight: bold;
}

.dqs-config table {
	border-collapse: collapse;
	margin:0;
}

.dqs-config th,
.dqs-config td {
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	margin:0;
}

/*
	ld service
*/ 

.ld-list {
	margin-top: -10px;		
	margin-left: -12px;
	margin-right: -12px;
}

.ld-list .tholder {
	font-size: 0.8em;	
	border-left: 1px solid #ccc;	
	border-right: 1px solid #ccc;	
	border-radius: 5px;
}

.ld-list table {
	width: 100%;
}

/*
Editor
*/


  
#update-body a {
	text-decoration: none;
}
  
div#update-body, 
div#ld-body {
  	margin: 2px 8px;
}
  
  
#show-ld {
  	margin: 20px 10px;
  	padding: 0px 0px 20px 0px;
}
   
.dacura-json-editor {
	
} 


div#version-header {
	font-size: 0.8em;
	float: right;
	margin-top: -22px;
	padding-right: 8px;
}
 

#action-bar {
  	width: 100%;
	padding: 0;
	font-size: 0.8em;
	color: #222;
    border-bottom: 1px solid #888;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
 }
 
 
 #action-table {
 	border-collapse: collapse;
 	width: 100%;
 	border-bottom: 1px solid white;
 	border-top: 1px solid white;
 }
 
  #action-table td {
 	padding: 2px 4px; 
 	border: 0;
 	border-right: 1px dotted #eee;
  }
 
  #version-controls {
    display: inline-block;
    font-size: 0.7em;
  }
  
  #fragment-data {
  	width: 100%;
  	background-color: #fafaff;
  	margin: 0px 0 10px 0;
  }
  .fragment-title {
  	font-weight: bold;
  	margin-right: 20px;
  }
  
  .fragment-paths {
  	font-size: 0.65em;
  }
  
  .fragment-path {
  	display: block;
  }
  
  .fragment-step {
  	padding-left: 6px;
  	padding-right: 6px;
  	border-right: 1px solid #888;
  }
  
  div#ld-main-body {
 	border: 1px solid #aaa;
 	background-color: #fdfdfd;
 	margin-top: -1px;
 	width: 100%;
  }  
  
  div#ld-viewer {
    	margin: 2px 8px;
  }
  
 .rb-json-result {

 }

.table-json-viewer {
 	overflow: auto;	
 	white-space: pre;
 	unicode-bidi: embed;
}

.dacura-export-viewer,
.dacura-html-viewer,
.dacura-json-viewer {
 	white-space: pre;
 	unicode-bidi: embed;
 	font-size: 0.85em;
 	background-color: #fafffa;
 	padding: 4px;
 	border: 1px solid #efefef;
 	overflow: auto;
}

.dacura-export-editor,
.dacura-json-editor {
	width: 100%;
	background-color: #fafaff;
 	border: 1px solid #afafef; 
}

textarea.dacura-custom-meta {
	background-color: #fafafa;
 	border: 1px solid #bbb; 
	unicode-bidi: embed;
 	font-family: 'Open Sans', Helvetica;
 	font-size: 0.85em;
	width: 700px;
	height: 300px;	
 	overflow: auto;
 	padding: 4px;		
}

div.ld-import-holder {
	background-color: #fafbf4;
	border: 1px solid #ccc;
	padding: 1px;
}

textarea.dacura-import-editor,
.dacura-export-editor textarea,
.dacura-json-editor textarea {
 	unicode-bidi: embed;
 	font-family: 'Open Sans', Helvetica;
 	font-size: 0.85em;
	width: 99%;
	height: 400px;	
 	overflow: auto;
 	border: 0; 	
 	padding: 4px;
 	margin-right: auto;
 	margin-left: auto;		
}

 
ul#meta-edit-table {
	background-color: #efefef;
	margin: 1px;
	font-size: 0.8em;
	padding: 0px;
	width: 100%;
	min-height: 26px;
}

ul#meta-edit-table li span.meta-label {
	text-align: right;
	padding-right: 6px;
	padding-left: 6px;
}

ul#meta-edit-table li span.meta-value {
	padding-right: 6px;
}

ul#meta-edit-table li span.meta-value input {
	width: 350px;
  	font-family: 'Open Sans', Helvetica;
  	font-weight: 400;
  	font-size: 0.9em;
  	padding: 1px 4px;
 }

ul#meta-edit-table li span.meta-value select {
	width: 80px;
  	font-family: 'Open Sans', Helvetica;
  	font-weight: 400;
  	font-size: 0.9em;
}

ul#meta-edit-table li {
	padding: 3px 8px 3px 0px;
	background-color: #efefef;
	float:left;
}

.dacura-table-viewer {
 	unicode-bidi: embed;
 	font-size: 0.85em;
 }

 #version-label {
  	font-size: 1.3em;
  	font-weight: bold;
 	vertical-align: middle;
 	padding: 0px 4px;	
}
 
 #ld-version {
 	font-size: 1.4em;
 	padding: 0px 6px;
 	vertical-align: middle;
 }
 
.version-meta {
	padding: 6px 15px 8px 5px;
	margin-bottom: 0px;
	margin-right: -4px;
}

#version-data dl,
#version-data dt,
#version-data dd {
	display: inline;
}

#ld-meta-details dt {
	font-size: 14px;
	padding-left: 4px;
	padding-top: 2px;
	font-weight: bold;
}

#ld-meta-details dd {
	font-size: 14px;
	background-color: white;
	padding: 2px 2px;
	margin-left: 2px;
	margin-right: 6px;
}

dl#ld-meta-details {
	width: 100%;
	background-color: black;
	margin-top: 0;
}

div#ld-meta {
	padding-top: 10px;
}

table.ld-invariants {
	margin-top: -8px;
	margin-right: -12px;
	margin-bottom: -2px;
}

table.ld-invariants th {
	font-size: 0.75em;
	padding-left: 2px;
	font-weight: normal;
}

table.ld-invariants td {
	font-size: 0.8em;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-right: 20px;
	padding-left: 10px;
	border-left: #888 solid 1px;
	font-weight: bold;
	color: #111;
}

.tool-tab-info {
	margin-top: 10px;
	margin-bottom: 10px;
}

span#edit-update-meta,
span#edit-meta {
	font-size: 12px;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: bold;
	color: #eee;
}

span#edit-update-meta select,
span#edit-meta select {
	font-size: 12px;
	padding-bottom: 4px;
	padding-top: 2px;
	color: #444;
	background-color: #eee;
}

.change-details {
	font-size: 0.85em;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
.change-details td, 
.change-details th {
	padding: 1px 3px;
	border: 1px solid #ccc;
}

.api-decision-title {
	font-weight: bold;
	font-size: 1.2em;
	margin-right: 12px;
}

.api-msg-body,
.api-decision-subtitle {
	font-style: italic;
}

.api-decision-subtext {
	font-size: 1.1em;
}

.api-msg-title {
	margin-right: 12px;
}

.confirm-restore-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}

.dacura-ld-message-box {
	padding: 0px;		
}

.dataTables_empty .dacura-user-message-box {
	margin-top: 10px;
	padding: 8px;
}

/*
linked data properties from candidate table html view
*/

table.ld-properties td {
	padding-left: 8px;
}

table.ld-properties {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

table.ld-properties tr.embedded-object td.container {
	padding: 0 14px 14px 14px;
}

td.prop-pd {
	padding: 2px 0;
}

td.pid-embedded {
	padding-top: 4px;
}

.dacura-property {
	font-weight: bold;
}

table.ld-properties a {
	text-decoration: none;
}

.dacura-property-value {
	text-decoration: italic;
}

.dacura-literal {
	color: #393;
}

.not-a-url {
	 font-weight: bold;
	 color: #e66;
}

.unknown-namespace {
	 font-weight: bold;
	 color: #a88;
}

div.annotation-record,
div.provenance-record {
	background-color: #666;
	color: white;
	padding: 4px 8px;
	font-weight: bold;
}


div.odd_depth {
	background-color: #eeeeee;
}

div.even_depth {
	background-color: white;
}

td.even_depth, 
td.odd_depth {
 	padding-right: 22px;
}

td.prop-pd {
	padding-left: 6px;	
}

tr.firstp td.odd_depth {
	border-top: 1px solid #aaa;
}

table.even_depth {
	background-color: #eeeeee;
}


div.even_depth, 
div.odd_depth {
	border: 1px solid #aaa;
}

.pidembedded {
	margin-bottom: 2px;
	margin-top: 3px;	
	padding: 3px 0px 2px 6px;
	width: 100%;
}

  .updated {
  	color: #66c;
  }
  
a.unchanged,
  .unchanged {
  	color: #ccc;
  }

a.deleted,
  .deleted {
  	color: #c44;
  }

  a.added,
  .added {
  	color: #4b4;
  }


.ld-view-header {
position: relative;
}

.browsermax {
	float: right;
	margin-right: 0px;
	margin-top: -42px;
	font-size: 0.7em;
	cursor: pointer;
}

.browsermin {
	margin-top: -50px;
	float: right;
	cursor: pointer;
}

table.ld-bar {
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
}
td.ld-bar {
	padding-top: 2px;
  	padding-bottom: 2px;
}

td.ld-bar-left {
  	padding-left: 4px;
  	text-align: left;
}
td.ld-bar-centre {
  	text-align: center;
  	padding-left: 4px;
  	padding-right: 4px;
}

td.ld-bar-right {
	text-align: right;
	padding-right: 14px;
}

div.ld-view-bar {
  	background-color: #d5f9e9;
  	border: 1px solid #aaa;
	font-size: 0.7em;
	border-radius: 5px 5px 0 0;
	padding: 2px 0;
}
      
div.ld-edit-bar {
	padding: 2px 0;
	font-size: 0.7em;
	border-radius: 5px 5px 0 0;
	background-color: #e8eff8;
	color: #222;
  	border: 1px solid #aaa;
}

div.ld-meta-bar {
  	background-color: #cceaff;
  	padding: 2px;
}
 
div.ld-import-bar {
	padding: 2px 0;
	font-size: 0.85em;
	border-radius: 5px 5px 0 0;
	background-color: #f8f8f2;
	color: #333;
  	border: 1px solid #ccc;
}

#ld-import-holder .dacura-property-table {
	border: 0 !important;
}

table.dacura-property-table div.ld-import-bar {
	border: 0;
	background-color: inherit;
}

.dacura-property-table div.ld-import-holder {
	border: 0;
	background-color: inherit;
}

.dacura-property-table .import-bar-label {
	font-family: 'Open Sans', Helvetica;
	font-weight: normal;
	font-size: 1.1em;
}

.dacura-property-table div.ld-import-holder textarea {
	width: 98% !important;
}

#jsonvphoney, 
#jsonvphoney tr,
#jsonvphoney td,
#jsonvphoney table {
	border: 0 !important;	
}

#jsonvphoney td {
	padding-top: 12px;
}

#jsonvphoney {
	width: 100%;
}

.ld-import-formats {
	display: inline-block;
	vertical-align: -12px;
}

.import-bar-label {
	display: inline-block;
	position: relative;
	padding: 6px;
	vertical-align: 10px;
}
  
div.ld-main-body {
 	border: 1px solid #aaa;
 	background-color: #fdfdfd;
 	margin-top: -1px;
 	overflow: auto;
}  
  
div#ld-viewer {
  	margin: 2px 8px;
	white-space: pre;
 	unicode-bidi: embed;
 	font-size: 0.85em;
 }

div.ld-resultbox .mbuttons {
	padding: 0px 6px 6px 6px;
	text-align: right;
}

div.ld-resultbox-title h2 {
	color: #666;
	border: 1px solid #aaa;
	border-bottom: 2px solid #f9f9ff;
	display: inline-block;
	margin-bottom: -2px;
	border-radius: 6px 6px 0px 0px;
	padding: 6px 12px;
	font-size: 1.1em;
}

div.ld-resultbox-options {
	padding: 1px 0 0 3px;
	float: left;
}

 .ld-resultbox-content {
 	clear: both;
 	font-size: 0.85em;
 	background-color: #fefdff;
  	border: 1px solid #aaa;
	padding: 4px;
	overflow: auto;	
 }


div#ld-editor textarea {
	padding-top: 6px;
	margin: 2px auto 2px auto;
	width: 100%;
	min-height: 600px;
  	font-family: 'Open Sans', Helvetica;
  	font-weight: 400;
  	font-size: 0.8em;
  }
 
.ld-table-viewer {
 	unicode-bidi: embed;
 	font-size: 0.85em;
 }
 
 .decision-header {
 	display: inline-block;
 }

  .decision-header .capi-decision {
 	font-size: 1px;
 	width: 50px;
 }
 
 span.result-icon {
 	float: left;
 }
 
 span.result-icon img{
 	height: 16px;
 	margin-top: 2px;
 	margin-left; -4px; 
 	margin-right: 6px;
 }
 
 
   
  input#url-input, 
  input#title-input {
  	width: 400px;
  	font-size: 15px;
  	padding: 2px 4px;
  }
  
  div.input-text-title {
  	padding-top: 10px;
  	margin-bottom: 4px;
  	color: #444;
  }
  
  div.input-text {
  	margin: 10px;
  	margin-top: 20px;
  }
  
  
  #tximp {
  	width: 100%;
  	height: 200px;
  }
  
  input.rbbutton {
	padding:5px 15px; 
	background:#ccc; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

table.ld-triples-viewer {
	width: 100%;
	margin-top: 8px;
}

table.ont-depend {
	width: 456px;
	margin: 6px -3px 1em -3px;
	font-size: 0.9em;
	border-collapse: collapse;
}

table.rbtable {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  overflow: auto;
  font-size: 0.9em;
}

table.rbtable th, table.rbtable td {
	border-left: 1px solid white;
	padding: 6px;
}

table.ld-triples-viewer caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

table.json-graph {
	border-collapse: collapse;
}

table.json-graph thead th {
	border-left: 1px solid white;
	padding: 10px;
}

table.json-graph td {
	border-left: 1px solid white;
	padding: 6px;
}


table.json-graph thead th,
table.ont-depend thead th,
table.ld-triples-viewer thead th,
table.rbtable thead th {
  font-weight: 550;
  background: #8a97a0;
  color: #efefef;
  padding: 4px;
}

table.json-graph tr,
table.ont-depend tr,
table.ld-triples-viewer tr,
table.rbtable tr {
	background: rgba(230, 235, 236, 0.3);
	background: #e8eeef;
	border-bottom: 1px solid #FFF;
  	margin-bottom: 5px;
}

table.json-graph tr:nth-child(even),
table.ont-depend tr:nth-child(even),
table.ld-triples-viewer tr:nth-child(even),
table.rbtable tr:nth-child(even) {
  background: rgba(250, 240, 239, 0.5);
}

table.ont-depend th, table.ont-depend td {
  overflow: hidden;
  padding: 2px 4px;
}


table.ld-triples-viewer th, 
table.ld-triples-viewer td {
  text-align: left;
  padding: 6px;
  font-weight: 300;
  max-width: 300px;
  overflow: hidden;
}

table.ld-triples-viewer tfoot tr {
  background: none;
}


table.ld-triples-viewer tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

table.pane-full tr {
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
  padding: 0.8em;  
}

table.pane-full td {
	padding: 0.5em 0 0.5em 6px;
	font-weight: 300;
}

table.pane-full {
	width: 456px;
	margin: 4px -3px 1em -3px;
}

table.pane-full tr:nth-child(even) {
	background: rgba(234, 252, 239, 0.5);
} 


table.pane-full tr:nth-child(odd) {
	background: #f4f7f8;
}
	
td.control-table-variable {
	padding-right: 6px;
}

a.show-controls {
	font-size: 0.9em;
	padding: 0px;
	text-decoration: none;
	color: #444488;
}


a.show-controls-icon {
	display: inline-block;
}

span.controlsbox {
	display: inline-block;
	margin: -6px -6px -6px 0;
	padding: 6px;
}

span.controlsbox:hover {
	border: 1px solid white !important;
	background: rgba(210, 230, 255, 0.9) !important;
	cursor: pointer;
	color: #210;
	border: 0;
}
.control-button {
	padding: 0.3em;
}

div.dqsless {
 float: right;
}

div.dqsmore {
	float: right;
}

div.pane-header-more {
	float: right;
}

td.control-table-value {
	border-left: 1px solid white;
}

div.ont-import-list {
	font-size: 0.8em;
}

div.dqs-options .dqs-embed {
	font-size: 0.7em;
}

div.ont-import-list,
div#test-includes {
	border: 1px solid #888;
	padding: 8px;
	margin-bottom: 10px;
}

div.include_list {
	border: 1px solid #888;
	margin-left: 140px;
	padding-top: 6px;
	height: 150px;
	margin-top: 4px;
}

span.dqstile-view {
	padding: 1px;
	margin: 1px;
	border: 1px solid #ddd;
	word-wrap: normal;
    display: inline-block;
}

span.ontlabeladd {
	background-color: #fafbf4;
}

span.ontlabelrem {
	background-color: #fefefb;
	text-align: center;
	border-radius: 6px;
}

.ont-version-selector {
	font-size: 0.8em;
	margin-top: 4px;
	padding-bottom: 0px;
	display: block;
	margin-left: -2px;
	margin-right: -2px;
}



span.dqstile-add, 
span.dqstile-remove, 
span.dqstile-implicit, 
span.dqstile-tile, 
span.ontoption,
span.ontinc, 
span.ontlabel {
	padding: 4px 8px;
	border: 1px solid #ccc;
	margin: 6px;
	word-wrap: normal;
    display: inline-block;
}

span.dqstile-add.dqs-bp, 
span.dqstile-remove.dqs-bp, 
span.dqstile-tile.dqs-bp, 
span.dqstile-implicit.dqs-bp {
	font-weight: 500;
	background-color: #f5f5ef;
	color: #444423;
}

span.dqstile-add.dqs-rule, 
span.dqstile-remove.dqs-rule, 
span.dqstile-tile.dqs-rule, 
span.dqstile-implicit.dqs-rule {
	background-color: #f2efef;
	font-weight: 500;
	color: #553323;
}

.include-treelist {
	margin: 6px;
	display: inline-block;
}
  
div.editbar-options {
	float: left;
	margin: 4px 4px 0 0;
	padding: 0px;
}

#graph-main {
	padding: 18px;
	background-color: #f8f6f9;
	float: left;
	width: 960px;
}

.graph-action {
	font-size: 0.9em;
	padding: 3px 8px;
	margin-left: 4px;
	border-radius: 3px;
}

.graph-actions {
	display: inline-block;
	font-weight: 400;
	margin-right: 12px;
}

.graph-action.graph-pending {
	border: 1px solid #ccccaa;
	background-color: #fffff6;
}
.graph-action.graph-pending:hover {
	background-color: #ccc122;
	cursor: pointer;
	color: white;
}

.graph-action.graph-delete {
	border: 1px solid #bbb;
	background-color: #eee;
}
.graph-action.graph-delete:hover {
	background-color: #444;
	cursor: pointer;
	color: white;
}

.graph-action.graph-accept {
	border: 1px solid #aaccaa;
	background-color: #f4fff6;
}
.graph-action.graph-accept:hover {
	background-color: #229922;
	cursor: pointer;
	color: white;
}

.graph-action.graph-reject {
	border: 1px solid #ccaaaa;
	background-color: #fff5f5;
}

.graph-action.graph-reject:hover {
	background-color: #cc4444;
	cursor: pointer;
	color: white;
}

#instance-control.dqs-failure,
#schema-control.dqs-failure,
#graph-control.dacura-reject,
#dqs-control.dqs-failure {
	background-color: #f6eff2;
	border: 1px solid #f8e8d2;
}

#instance-control.dqs-disabled {
	background-color: #eee;
	border: 1px solid #ccc;
}


#graph-control.dacura-pending {
	background-color: #f6f6e2;
	border: 1px solid #eeea92;	
}


#instance-control.dqs-success,
#schema-control.dqs-success,
#graph-control.dacura-accept,
#dqs-control.dqs-success {
	background-color: #eff8f4;
	border: 1px solid #d2f8e8;
}
 
#graph-control, 
#ns-property,
#ns-subject,
#dqs-control {
	width: 450px;
	margin: 0px 4px 12px 0px;
	float: left;
	padding: 6px;
}

#instance-control {
	background-color: #fafbf4;
	border: 1px solid #d2e8f8;
	width: 450px;
	margin: 12px 6px 12px 0px;
	padding: 6px;
	float: right;	
}

#schema-control {
	background-color: #fafbf4;
	border: 1px solid #d2e8f8;
	width: 450px;
	margin: 0px 6px 12px 20px;
	padding: 6px;
	float: right;	
}
#dependencies {
	background-color: #fafbf4;
	border: 1px solid #d2e8f8;
	width: 450px;
	margin: 0px 6px 12px 6px;
	padding: 6px;
	float: right;
}

#nsusage {
	background-color: #fafbf4;
	border: 1px solid #d2e8f8;
	width: 450px;
	margin: 0px 6px 12px 6px;
	float: right;
	padding: 6px;
}

span#graph-subscreen-close {
	float: right;
}

span#graph-subscreen-close:hover {
	cursor: pointer;
}

th.graph-name {
	padding-top: 8px;
	text-align: left;
	font-weight: 600;
}

th.graph-url {
	padding-top: 8px;
}
th.graph-url a {
	text-decoration: none;
	font-weight: 300;
	font-size: 0.9em;
}

a.implicit-import {
	text-decoration: none;
	font-weight: 350;
}

a.explicit-import {
	text-decoration: none;
	font-weight: 550;
}

#graph-subscreen-header {
	background-color: #eff4f8;
	border: 1px solid #d2e8f8;
	margin: 6px 0;
	font-size: 1.2em;
	padding: 0.5em 1em;
}

#graph-details {
	width: 100%;
	background-color: #eff4f8;
	border: 1px solid #d2e8f8;
	margin: 6px 0;
}

#graph-schema {
	width: 100%;
	background-color: #eff8f4;
	border: 1px solid #d2f8e8;
	margin: 6px 0;
}

#graph-instance {
	width: 100%;
	background-color: #eff8f4;
	border: 1px solid #d2f8e8;
	margin: 6px 0;
}

#graph-instance table,
#graph-schema table,
#graph-details table {
	width: 100%;
	margin: 2px 10px;
}

td.rdtitle {
	font-weight: 550;
	
}

td.rdactions {
	font-size: 0.85em;
	text-align: right;
	padding-right: 10px;
	min-width: 180px;
}

td.rdinfo {
	font-weight: 400;
	font-size: 0.85em;
} 

table.pane-full {
	font-size: 0.9em;
	border-collapse: collapse;
}

td.control-table-number {
	text-align: right;
}

td.control-table-value {
}

.analysis-button {
	float: right;
}

div.analysis {
	width: 300px;
	float: left;
	font-size: 0.9em;
}
.pane-header {
	font-weight: 600;
	font-size: 1.1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid white;
}

.pane-header-value {
	margin-right: 1em;
	margin-left: 0.5em;
}

.pane-summary {
	font-size: 0.9em;
}

.summary-entry {
	float: left;
	padding-right: 6px;
	border-right: 1px solid white;
	margin: 0 6px -6px -6px;
	padding: 6px;
}

 .divhover {
 	padding: 6px;
 	margin: -6px 0 -6px -6px;
	background: rgba(210, 230, 255, 0.9) !important;
	cursor: pointer;
	color: #210;
}

.uhover {
	background: rgba(210, 230, 255, 0.9) !important;
	cursor: pointer;
	color: #210;	
} 

.dacsub {}

.subscreen-header {
	background-color: #eff4f8;
	border: 1px solid #d2e8f8;
	margin: 6px 0 16px 0;
	font-size: 1.2em;
	padding: 0.5em 1em;
	clear: both;
}

span.subscreen-close {
	float: right;
}

span.subscreen-close:hover {
	cursor: pointer;
}

.subscreen-title-options {
	padding-left: 2em;
	font-size: 0.7em;
}

.manauto {
	padding-right: 2em;
}


#update-imports,
#dqs-buttons {
	margin-bottom: 16px;
	padding: 8px;
	background-color: #d2e8f8;
	border: 1px solid #d2e8f8;
	float: right;
	clear: both;
}

div.local-ontologies-contents,
div.system-ontologies-contents {
	background-color: #eff4f8;
	border: 1px solid #d2e8f8;
	font-size: 0.85em;
	border-radius: 0 0 5px 5px;
	margin-bottom: 12px;
	clear: both;
	padding: 6px 2px;
}


div.auto-imports,
div.manual-imports,
div.dqs-available,
div.dqs-includes {
	background-color: #eff4f8;
	border: 1px solid #d2e8f8;
	font-size: 0.85em;
	border-radius: 0 0 5px 5px;
	margin-bottom: 12px;
	clear: both;
	padding: 6px 2px;
	min-height: 90px;
}

div.auto-imports-header, 
div.manual-imports-header,
div.local-ontologies-header,
div.system-ontologies-header,
div.dqs-available-title,
div.dqs-includes-title {
	background-color: #d2e8f8;
	font-weight: 650;
	float: left;
	padding: 6px 12px;
	margin-bottom: 2px;
	margin-top: 6px;
	clear: both;
}

div.dqs-available-title {
	clear: both;
}

div.dqs-all-config-element {
	background-color: #d2e8f8;
	padding: 4px 8px 4px 4px;
	margin-right: -1px;
	border-radius: 5px 5px 0 0;
}
.dqs-all-config-element {
	float: right;
	font-size: 0.9em;
}

.empty-ldcontents, 
.empty-tests, 
.empty-imports {
	clear: both;
	width: 300px;
	text-align: center;
	margin: 20px auto;
	padding: 18px;
	font-size: 1.2em;
	font-weight: 700;
	color: #999;
}

.tooltiph {
	font-weight: 700;
	font-size: 1.2em;	
}

.oht {
	display: block;
	font-size: 0.8em;
	color: #444;
}

.enable-update {
	float: right;
	margin-right: 12px;
}

span.remove-ont  {
	float: right;
	margin-right: -4px;
}

span.add-ont {
	padding: 4px 6px 4px 6px;	
	text-align: right;
	display: inline-block;
	margin: -12px -8px -5px 0;
}

span.ontid-label {
	font-weight: 500;
	margin-right: 10px;
}

span.remove-dqs,
span.add-dqs {
	padding: 8px 6px 4px 6px;	
	text-align: right;
	display: inline-block;
	margin: -4px -8px -5px 0;
}

span.add-ont img.result-icon , 
span.add-dqs img.result-icon ,
span.remove-dqs img.result-icon ,
span.remove-ont img.result-icon  {
	margin-right: 0px;
}

.updates-table-holder,
.history-table-holder {
	font-size: 0.9em;
}

div.update-status-box.dacura-reject,
.dacura-user-message-box.dacura-reject .mbody, 
.dacura-user-message-box.dacura-reject .mtitle,
.dacura-user-message-box.dacura-reject {
	background-color: #ffdfdf;	
	color: #600 !important;
}

div.update-status-box.dacura-accept,
.dacura-user-message-box.dacura-accept .mbody,
.dacura-user-message-box.dacura-accept .title,
.dacura-user-message-box.dacura-accept {
	background-color: #e8ffe9;	
	color: #060 !important;
}

div.update-status-box.dacura-pending, 
.dacura-user-message-box.dacura-pending .mbody,
.dacura-user-message-box.dacura-pending .mtitle,
.dacura-user-message-box.dacura-pending {
	background-color: #e9f2ff;	
	color: #440 !important;
}

.dacura-accept .mtitle,
.dacura-reject .mtitle,
.dacura-pending .mtitle {
	font-weight: 550;
	display: inline-block;	
} 

.dacura-accept .mbody,
.dacura-reject .mbody,
.dacura-pending .mbody {
	display: inline-block;
}

div.update-status-box {
	width: 420px;
	margin-top: -24px;
	margin-bottom: 4px;
	float: right;
	padding: 10px;
	border: 1px solid #ccc;
}

div.updates-contents-viewer {
	clear: both;
}

div.update-status-header {
	font-weight: 600;
	display: inline-block;
	text-align: center;
	padding-bottom: 6px;
	margin-bottom: 2px;
	border-bottom: 1px solid white;
}
div.update-status-actions {
	display: inline-block;
	text-align: center;
	margin-top: -8px;
	padding-bottom: 6px;
}

.update-status-details {
	font-weight: 300;
	font-size: 0.8em;
}

div.dacura-test-message {
	padding-left: 70px;
}

div.test-result {
	float: left;
	padding: 10px 10px 10px 8px;
	width: 52px;
	background: black;
	color: #ff0;
	font-weight: 600;
	border-right: 1px solid #ff0;
}

.graph-result-title {
	display: inline-block;
	font-size: 1.4em;
	padding: 10px;
	font-weight: 600;
}

.graph-result-message {
	display: inline-block;
	font-size: 1.1em;
	padding: 10px;
	font-weight: 300;
}	

span.ldimport-header {
	font-size: 1.3em;
}

table.ontology-create-table {
	width: 850px;
}

table.candidate-create-table {
	min-width: 800px;
}


table.ld-create-table {
	width: 900px;
}

span.result-summaries {
	padding: 2px;
}

span.result-summaries:hover {
	background: rgba(210, 230, 255, 0.9) !important;
	cursor: pointer;
	color: #210;
}

span.result-summary-icon {
	vertical-align: -2px;
	margin-right: -4px;
} 

.api-triplestable-title,
div.graph-result-section-title {
	margin-top: 12px;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 1.2em;
}

span.result-summary-block {
	padding-right: 6px;
} 

td.extra-form-element {
	padding-top: 12px;
}

span.multi-update-summary {
	font-size: 1.1em;
	margin-right: 8px;
}

th.multi-update-id, td.multi-update-id {
	width: 150px;
}

div.update-view-bar {
	font-size: 0.75em;
	position: absolute;
	right: 6px;
	top: 70px;
	width: 270px;
	text-align: center;
	padding: 6px;
	background-color: #dd9;
}

span.view-update-options {
	font-size: 0.8em;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
